extends layout

block content
  
  h1(id="header", style="padding-top: 75px;") Scan Inventory

  h5(style="color:red;")=success

  div.inputFields(style="background:#D0D0D0; width:90%; margin:80px auto; padding-top:20px; padding-bottom:50px; border-radius: 8px;")
   h2(style="text-align:center; padding-bottom: 10px;")=error
   div(style="float:right; margin-top: 0.35%; padding-right: 10px;")
    //- button.btn.btn-warning(onclick="myDeleteFunction()", style="font-size: 40px; background-color:red; color:white; border: 1px solid;") &#8593;
    //- br
    //- button.btn.btn-warning(onclick="myCreateFunction()", style="font-size: 40px; background-color:green; color: white; border: 1px solid #ddd;") &#8595;

   form(role='form', method="Post", action="/locateThree", name="ProductQuantity")
    table.table-striped.table-bordered.table-responsive#myTable(width="80%", align="center", style="font-size:18px;border-collapse:collapse" )
     tr
      td(style="width:50%;")
       input.form-control.scanner(type="text", required, id="loc", placeholder="LOCATION", name="bin11", size="18")
      td
       input.form-control.scanner(type="number", required, id="loc", placeholder="PO", name="shipment", size="10")
     tr
      td
       input.form-control.scanner#check1(type="text", required, placeholder="UPC #1",  name="upc1", size="10")
      td
       input.form-control.quan.scanner#quan1(type="number", required, placeholder="QUANTITY #1",  name="quantity1", size="10")
     tr
      td
       input.form-control.scanner#check2(type="text", placeholder="UPC #2",  name="upc2", size="10")
      td
       input.form-control.quan.scanner#quan2(type="number", placeholder="QUANTITY #2",  name="quantity2", size="10")
     tr
      td
       input.form-control.scanner#check3(type="text", placeholder="UPC #3",  name="upc3", size="10")
      td
       input.form-control.quan.scanner#quan3(type="number", placeholder="QUANTITY #3",  name="quantity3", size="10")
     tr
      td
       input.form-control.scanner#check4(type="text", placeholder="UPC #4",  name="upc4", size="10")
      td
       input.form-control.quan.scanner#quan4(type="number", placeholder="QUANTITY #4",  name="quantity4", size="10")
     tr
      td
       input.form-control.scanner#check5(type="text", placeholder="UPC #5",  name="upc5", size="10")
      td
       input.form-control.quan.scanner#quan5(type="number", placeholder="QUANTITY #5",  name="quantity5", size="10")
     tr
      td
       input.form-control.scanner#check6(type="text", placeholder="UPC #6",  name="upc6", size="10")
      td
       input.form-control.quan.scanner#quan6(type="number", placeholder="QUANTITY #6",  name="quantity6", size="10")
     tr
      td
       input.form-control.scanner#check7(type="text", placeholder="UPC #7",  name="upc7", size="10")
      td
       input.form-control.quan.scanner#quan7(type="number", placeholder="QUANTITY #7",  name="quantity7", size="10")
     tr
      td
       input.form-control.scanner#check8(type="text", placeholder="UPC #8",  name="upc8", size="10")
      td
       input.form-control.quan.scanner#quan8(type="number", placeholder="QUANTITY #8",  name="quantity8", size="10")
    button.btn.invSub(type="submit", onclick="return checker();", style="font-size:35px;") Submit
 
  #myModal.modal.fade(role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close#close1(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup1(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup2(type="submit", style="font-size:30px; padding-top:5px; display: inline;")


  #myModal2.modal.fade(role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup3(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup4(type="submit", style="font-size:30px; padding-top:5px; display: inline;")
  #myModal3.modal.fade(role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup5(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup6(type="submit", style="font-size:30px; padding-top:5px; display: inline;")

  #myModal4.modal.fade(role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup7(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup8(type="submit", style="font-size:30px; padding-top:5px; display: inline;")

  #myModal5.modal.fade(role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup9(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup10(type="submit", style="font-size:30px; padding-top:5px; display: inline;")

  #myModal6.modal.fade(role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup11(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup12(type="submit", style="font-size:30px; padding-top:5px; display: inline;")

  #myModal7.modal.fade(role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup13(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup14(type="submit", style="font-size:30px; padding-top:5px; display: inline;")

  #myModal8.modal.fade(role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup15(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup16(type="submit", style="font-size:30px; padding-top:5px; display: inline;")
 

  


     

  script.
    $(document).ready(function() {

    	$('input[name=bin11]').click().focus();

      //- success message

       $('.mess').hide();

       $('.invSub').bind('click', function(){
           window.scrollTo(0,0);
           $('.mess').show(200).delay(4000).hide(200);
       }); 


          //- Press enter on quantities to submit to inventory
        $('.quan').keypress(function (e){
       	 if(e.which == 13){
         $('.invSub').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
       	})



        $('input[name=type]').attr('checked',false);
        $('input[name=length]').attr('checked',false);
        $('input[name=color]').attr('checked',false);


         //- function checker(){
         //-        if ($('.check').val() != ''){
         //-          console.log($('.check').val());
         //-          $('.quan').prop('required',true);
         //-          }

         //-      }

    

            function checker(){
                if ($('#check2').val() != ''){
                  console.log($('#check2').val());
                  $('#quan2').prop('required',true);
                  }
                if ($('#check3').val() != ''){
                  console.log($('#check3').val());
                  $('#quan3').prop('required',true);
                  }
                if ($('#check4').val() != ''){
                  console.log($('#check4').val());
                  $('#quan4').prop('required',true);
                  }
                if ($('#check5').val() != ''){
                  console.log($('#check5').val());
                  $('#quan5').prop('required',true);
                  }
                if ($('#check6').val() != ''){
                  console.log($('#check6').val());
                  $('#quan6').prop('required',true);
                  }
                if ($('#check7').val() != ''){
                  console.log($('#check7').val());
                  $('#quan7').prop('required',true);
                  }
                if ($('#check8').val() != ''){
                  console.log($('#check8').val());
                  $('#quan8').prop('required',true);
                  }
                 
              }


              //- DUPLICATES
              var duplicates = [
                { duplicateUPC: 12345, upc1: 11111, upc1ProductID: "TEST-1", upc2: 22222, upc2ProductID: "TEST-2"},
                { duplicateUPC: 123456, upc1: 33333, upc1ProductID: "TEST-3", upc2: 44444, upc2ProductID: "TEST-4"},
                { duplicateUPC: 1234567, upc1: 55555, upc1ProductID: "TEST-1", upc2: 666666, upc2ProductID: "TEST-2"},
                { duplicateUPC: 123, upc1: 77777, upc1ProductID: "TEST-3", upc2: 88888, upc2ProductID: "TEST-4"},
                { duplicateUPC: 1234, upc1: 99999, upc1ProductID: "TEST-1", upc2: 20202020, upc2ProductID: "TEST-2"},
                { duplicateUPC: 123456, upc1: 101010101, upc1ProductID: "TEST-3", upc2: 303030303, upc2ProductID: "TEST-4"},
                { duplicateUPC: 12, upc1: 4040404040, upc1ProductID: "TEST-1", upc2: 4040404040, upc2ProductID: "TEST-2"},
                { duplicateUPC: 12345678, upc1: 5050505050, upc1ProductID: "TEST-3", upc2: 5050505050, upc2ProductID: "TEST-4"},

              ]

              

              $('#check1').keydown(function(e){
                if (e.which == 9){
                  var searchUPC = $(this).val(); 
                  console.log(searchUPC);  //prints value that has been submitted after keypress
                  //- //- loop through array with value
                  //- console.log(duplicates[1].duplicateUPC)
                  //- console.log(duplicates.length)
                  for(i=0;i<duplicates.length;i++){
                    //console.log(duplicates[i].duplicateUPC);
                    if (duplicates[i].duplicateUPC == searchUPC){
                      console.log("hurray");
                      var upc1 = duplicates[i].upc1;
                      var upc2 = duplicates[i].upc2;
                      $('#dup1').empty();
                      $('#dup2').empty();
                      //- now append the values to the buttons ids= dup1, dup2
                      $('#dup1').append(upc1 + '<br/>' + duplicates[i].upc1ProductID);
                      $('#dup2').append(upc2 + '<br/>' + duplicates[i].upc2ProductID);
                      $("#myModal").modal(); 
                      //- still need to cleak button text on click and move cursor to quantity
                      $("#dup1").click(function () {
                        $("#check1").val(upc1);
                        $('#myModal').modal('hide');
                        $('input[name=quantity1]').click().focus();
                      });  
                      $("#dup2").click(function () {
                        $("#check1").val(upc2);
                        $('#myModal').modal('hide');
                        $('input[name=quantity1]').click().focus();
                      });
                    }
                  };

                  }
                });
              


              $('#check2').keydown(function(e){

                if (e.which == 9){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){

                    if (duplicates[i].duplicateUPC == searchUPC){
                        console.log("hurray");
                        $('#dup3').empty();
                        $('#dup4').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup3').append(upc1 + '<br/>' + duplicates[i].upc1ProductID);
                      $('#dup4').append(upc2 + '<br/>' + duplicates[i].upc2ProductID);
                      $("#myModal2").modal(); 

                      $("#dup3").click(function () {
                        $("#check2").val(upc1);
                        $('#myModal2').modal('hide');
                        $('input[name=quantity2]').click().focus();
                      });  

                      $("#dup4").click(function () {
                        $("#check2").val(upc2);
                        $('#myModal2').modal('hide');
                        $('input[name=quantity2]').click().focus();
                      });   

                    }
                  };

                  }
                });

                //- checker #3 dup 5-6 modal3
                $('#check3').keydown(function(e){

                if (e.which == 9){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){

                    if (duplicates[i].duplicateUPC == searchUPC){
                        console.log("hurray");
                        $('#dup5').empty();
                        $('#dup6').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup5').append(upc1 + '<br/>' + duplicates[i].upc1ProductID);
                      $('#dup6').append(upc2 + '<br/>' + duplicates[i].upc2ProductID);
                      $("#myModal3").modal(); 

                      $("#dup5").click(function () {
                        $("#check3").val(upc1);
                        $('#myModal3').modal('hide');
                        $('input[name=quantity3]').click().focus();
                      });  

                      $("#dup6").click(function () {
                        $("#check3").val(upc2);
                        $('#myModal3').modal('hide');
                        $('input[name=quantity3]').click().focus();
                      });   

                    }
                  };

                  }
                });

                //- checker #4 dup 7-8 modal4

                $('#check4').keydown(function(e){

                if (e.which == 9){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){

                    if (duplicates[i].duplicateUPC == searchUPC){
                        console.log("hurray");
                        $('#dup7').empty();
                        $('#dup8').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup7').append(upc1 + '<br/>' + duplicates[i].upc1ProductID);
                      $('#dup8').append(upc2 + '<br/>' + duplicates[i].upc2ProductID);
                      $("#myModal4").modal(); 

                      $("#dup7").click(function () {
                        $("#check4").val(upc1);
                        $('#myModal4').modal('hide');
                        $('input[name=quantity4]').click().focus();
                      });  

                      $("#dup8").click(function () {
                        $("#check4").val(upc2);
                        $('#myModal4').modal('hide');
                        $('input[name=quantity4]').click().focus();
                      });   

                    }
                  };

                  }
                });

                //- checker #5 dup 9-10 modal5

                $('#check5').keydown(function(e){

                if (e.which == 9){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){

                    if (duplicates[i].duplicateUPC == searchUPC){
                        console.log("hurray");
                        $('#dup9').empty();
                        $('#dup10').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup9').append(upc1 + '<br/>' + duplicates[i].upc1ProductID);
                      $('#dup10').append(upc2 + '<br/>' + duplicates[i].upc2ProductID);
                      $("#myModal5").modal(); 

                      $("#dup9").click(function () {
                        $("#check5").val(upc1);
                        $('#myModal5').modal('hide');
                        $('input[name=quantity5]').click().focus();
                      });  

                      $("#dup10").click(function () {
                        $("#check5").val(upc2);
                        $('#myModal5').modal('hide');
                        $('input[name=quantity5]').click().focus();
                      });   

                    }
                  };

                  }
                });

                //- checker #6 dup 11-12 modal6
                $('#check6').keydown(function(e){

                if (e.which == 9){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){

                    if (duplicates[i].duplicateUPC == searchUPC){
                        console.log("hurray");
                        $('#dup11').empty();
                        $('#dup12').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup11').append(upc1 + '<br/>' + duplicates[i].upc1ProductID);
                      $('#dup12').append(upc2 + '<br/>' + duplicates[i].upc2ProductID);
                      $("#myModal6").modal(); 

                      $("#dup11").click(function () {
                        $("#check6").val(upc1);
                        $('#myModal6').modal('hide');
                        $('input[name=quantity6]').click().focus();
                      });  

                      $("#dup12").click(function () {
                        $("#check6").val(upc2);
                        $('#myModal6').modal('hide');
                        $('input[name=quantity6]').click().focus();
                      });   

                    }
                  };

                  }
                });

                //- checker #7 dup 13-14 modal7
                $('#check7').keydown(function(e){

                if (e.which == 9){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){

                    if (duplicates[i].duplicateUPC == searchUPC){
                        console.log("hurray");
                        $('#dup13').empty();
                        $('#dup14').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup13').append(upc1 + '<br/>' + duplicates[i].upc1ProductID);
                      $('#dup14').append(upc2 + '<br/>' + duplicates[i].upc2ProductID);
                      $("#myModal7").modal(); 

                      $("#dup13").click(function () {
                        $("#check7").val(upc1);
                        $('#myModal7').modal('hide');
                        $('input[name=quantity7]').click().focus();
                      });  

                      $("#dup14").click(function () {
                        $("#check7").val(upc2);
                        $('#myModal7').modal('hide');
                        $('input[name=quantity7]').click().focus();
                      });   

                    }
                  };

                  }
                });

                //- checker #8 dup 15-16 modal8
                $('#check8').keydown(function(e){

                if (e.which == 9){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){

                    if (duplicates[i].duplicateUPC == searchUPC){
                        console.log("hurray");
                        $('#dup15').empty();
                        $('#dup16').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup15').append(upc1 + '<br/>' + duplicates[i].upc1ProductID);
                      $('#dup16').append(upc2 + '<br/>' + duplicates[i].upc2ProductID);
                      $("#myModal8").modal(); 

                      $("#dup15").click(function () {
                        $("#check8").val(upc1);
                        $('#myModal8').modal('hide');
                        $('input[name=quantity8]').click().focus();
                      });  

                      $("#dup16").click(function () {
                        $("#check8").val(upc2);
                        $('#myModal8').modal('hide');
                        $('input[name=quantity8]').click().focus();
                      });   

                    }
                  };

                  }
                });

              

      });

    //-     function addRow(tableID) {
    //- //debugger;
    //-  var tableID="tableCreate";
    //-  var table = document.getElementById(tableID);
    //-  var rowCount = table.rows.length;

    //- if(rowCount<7){
   
    //-     var row = table.insertRow(rowCount);
    //-     var cell1 = row.insertCell(0);        
    //-     var cell2 = row.insertCell(1);
    //-     var cell3 = row.insertCell(2);
    //-     var element2 = document.createElement('input');
    //-     element2.type="text";
    //-     cell2.appendChild(element2);

    //-        }
    //-    }

    //-   function removeRow(){
    //-       var tableID="tableCreate";
    //-       var table = document.getElementById(tableID);
    //-       var rowCount = table.rows.length;

    //-       if(rowCount>1){            
    //-           table.deleteRow(-1);
    //-       }
    //-   }
      //- function myCreateFunction() {
      //- var table = document.getElementById("myTable");
      //- var count = table.rows.length;  //how many rows to allow

      //-   if (count < 11) {
      //-     var row = table.insertRow(-1);
      //-     var cell1 = row.insertCell(0);
      //-     var cell2 = row.insertCell(1);
      //-     cell1.style.backgroundColor = '#D0D0D0'
      //-     cell1.innerHTML = '<input class="form-control" type="text" placeholder="UPC" size="10" name="upcArray" style="font-size: 13px;padding:0px; margin:0px; text-align:center; height:50px;" />';
      //-     cell2.innerHTML = '<input class="form-control quan" type="number" placeholder="QUANTITY" size="10" name="quantityArray" style="font-size: 13px;padding:0px; margin:0px; text-align:center; height:50px;" />';
      //-     $('input[name="upcArray"]').focus();
      //-   }
      //- }
      
      //- function myDeleteFunction() {
      //-     document.getElementById("myTable").deleteRow(-1);
      //- }


     







