extends layout

block content
  
  h1(id="header", style="padding-top: 75px;") Scan Inventory

  h5(style="color:red;")=success

  div.inputFields(style="background:#D0D0D0; width:90%; margin:80px auto; padding-top:20px; padding-bottom:50px; border-radius: 8px;")
   h2(style="text-align:center; padding-bottom: 10px;")=error
   div(style="float:right; margin-top: 0.35%; padding-right: 10px;")
    //- button.btn.btn-warning(onclick="myDeleteFunction()", style="font-size: 40px; background-color:red; color:white; border: 1px solid;") &#8593;
    //- br
    //- button.btn.btn-warning(onclick="myCreateFunction()", style="font-size: 40px; background-color:green; color: white; border: 1px solid #ddd;") &#8595;

   form(role='form', method="Post", action="/locateThree", name="ProductQuantity")
    table.table-striped.table-bordered.table-responsive#myTable(width="80%", align="center", style="font-size:18px;border-collapse:collapse" )
     tr
      td(style="width:50%;")
       input.form-control.scanner(type="text", required, id="loc", placeholder="LOCATION", name="bin11", size="18")
      td
       input.form-control.scanner(type="number", required, id="loc", placeholder="PO", name="shipment", size="10")
     tr
      td
       input.form-control.scanner#check1(type="text", required, placeholder="UPC #1",  name="upc1", size="10")
      td
       input.form-control.quan.scanner#quan1(type="number", required, placeholder="QUANTITY #1",  name="quantity1", size="10")
     tr
      td
       input.form-control.scanner#check2(type="text", placeholder="UPC #2",  name="upc2", size="10")
      td
       input.form-control.quan.scanner#quan2(type="number", placeholder="QUANTITY #2",  name="quantity2", size="10")
     tr
      td
       input.form-control.scanner#check3(type="text", placeholder="UPC #3",  name="upc3", size="10")
      td
       input.form-control.quan.scanner#quan3(type="number", placeholder="QUANTITY #3",  name="quantity3", size="10")
     tr
      td
       input.form-control.scanner#check4(type="text", placeholder="UPC #4",  name="upc4", size="10")
      td
       input.form-control.quan.scanner#quan4(type="number", placeholder="QUANTITY #4",  name="quantity4", size="10")
     tr
      td
       input.form-control.scanner#check5(type="text", placeholder="UPC #5",  name="upc5", size="10")
      td
       input.form-control.quan.scanner#quan5(type="number", placeholder="QUANTITY #5",  name="quantity5", size="10")
     tr
      td
       input.form-control.scanner#check6(type="text", placeholder="UPC #6",  name="upc6", size="10")
      td
       input.form-control.quan.scanner#quan6(type="number", placeholder="QUANTITY #6",  name="quantity6", size="10")
     tr
      td
       input.form-control.scanner#check7(type="text", placeholder="UPC #7",  name="upc7", size="10")
      td
       input.form-control.quan.scanner#quan7(type="number", placeholder="QUANTITY #7",  name="quantity7", size="10")
     tr
      td
       input.form-control.scanner#check8(type="text", placeholder="UPC #8",  name="upc8", size="10")
      td
       input.form-control.quan.scanner#quan8(type="number", placeholder="QUANTITY #8",  name="quantity8", size="10")
    button.btn.invSub(type="submit", onclick="return checker();", style="font-size:35px;") Submit
 
  #myModal.modal.fade(role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close#close1(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup1(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup2(type="submit", style="font-size:30px; padding-top:5px; display: inline;")


  #myModal2.modal.fade(role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup3(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup4(type="submit", style="font-size:30px; padding-top:5px; display: inline;")
  #myModal3.modal.fade(role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup5(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup6(type="submit", style="font-size:30px; padding-top:5px; display: inline;")

  #myModal4.modal.fade(role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup7(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup8(type="submit", style="font-size:30px; padding-top:5px; display: inline;")

  #myModal5.modal.fade(role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup9(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup10(type="submit", style="font-size:30px; padding-top:5px; display: inline;")

  #myModal6.modal.fade(role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup11(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup12(type="submit", style="font-size:30px; padding-top:5px; display: inline;")

  #myModal7.modal.fade(role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup13(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup14(type="submit", style="font-size:30px; padding-top:5px; display: inline;")

  #myModal8.modal.fade(role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup15(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup16(type="submit", style="font-size:30px; padding-top:5px; display: inline;")
 

  


     

  script.
    $(document).ready(function() {

    	$('input[name=bin11]').click().focus();

      //- success message

       $('.mess').hide();

       $('.invSub').bind('click', function(){
           window.scrollTo(0,0);
           $('.mess').show(200).delay(4000).hide(200);
       }); 


        //-   //- Press enter on quantities to submit to inventory
        //- $('.quan').keypress(function (e){
       	//-  if(e.which == 13){
        //-  $('.invSub').focus().click();
        //-  //window.scrollTo(200,400);
        //-  return false;
        //-  }
       	//- })
            $(document).on("keypress", "form", function(event) { 
              return event.keyCode != 13;
            });


        $('input[name=type]').attr('checked',false);
        $('input[name=length]').attr('checked',false);
        $('input[name=color]').attr('checked',false);


         //- function checker(){
         //-        if ($('.check').val() != ''){
         //-          console.log($('.check').val());
         //-          $('.quan').prop('required',true);
         //-          }

         //-      }

    

            function checker(){
                if ($('#check2').val() != ''){
                  console.log($('#check2').val());
                  $('#quan2').prop('required',true);
                  }
                if ($('#check3').val() != ''){
                  console.log($('#check3').val());
                  $('#quan3').prop('required',true);
                  }
                if ($('#check4').val() != ''){
                  console.log($('#check4').val());
                  $('#quan4').prop('required',true);
                  }
                if ($('#check5').val() != ''){
                  console.log($('#check5').val());
                  $('#quan5').prop('required',true);
                  }
                if ($('#check6').val() != ''){
                  console.log($('#check6').val());
                  $('#quan6').prop('required',true);
                  }
                if ($('#check7').val() != ''){
                  console.log($('#check7').val());
                  $('#quan7').prop('required',true);
                  }
                if ($('#check8').val() != ''){
                  console.log($('#check8').val());
                  $('#quan8').prop('required',true);
                  }
                 
              }


              //- DUPLICATES
              var duplicates = [
                {duplicateUPC: 702795849269, upc1:600346752146, upc1ProductID: '16.SI.1B.', upc2: 799861394266, upc2ProductID: '16.VA16-HUMAN.1B.'},
                {duplicateUPC: 702795849276, upc1:600346750920, upc1ProductID: '16.SI.2.', upc2: 799861394273, upc2ProductID: '16.VA16-HUMAN.2.'},
                {duplicateUPC: 702795849283, upc1:600346750937, upc1ProductID: '16.SI.3R.', upc2: 799861394280, upc2ProductID: '16.VA16-HUMAN.4.'},
                {duplicateUPC: 702795849290, upc1:600346750944, upc1ProductID: '16.SI.4.', upc2: 702795849290, upc2ProductID: '16.VA16-HUMAN.4/33.'},
                {duplicateUPC: 702795849306, upc1:600346750951, upc1ProductID: '16.SI.5B.', upc2: 799861394303, upc2ProductID: '16.VA16-HUMAN.6.'},
                {duplicateUPC: 702795849313, upc1:600346750968, upc1ProductID: '16.SI.5R.', upc2: 799861394310, upc2ProductID: '16.VA16-HUMAN.6/10.'},
                {duplicateUPC: 702795849320, upc1:600346750975, upc1ProductID: '16.SI.6.', upc2: 702795849320, upc2ProductID: '16.VA16-HUMAN.6/24.'},
                {duplicateUPC: 702795849337, upc1:600346750982, upc1ProductID: '16.SI.6/10.', upc2: 799861394334, upc2ProductID: '16.VA16-HUMAN.8.'},
                {duplicateUPC: 702795849344, upc1:600346750999, upc1ProductID: '16.SI.8.', upc2: 799861394341, upc2ProductID: '16.VA16-HUMAN.10.'},
                {duplicateUPC: 702795849351, upc1:600346751002, upc1ProductID: '16.SI.10.', upc2: 702795849351, upc2ProductID: '16.VA16-HUMAN.10/12.'},
                {duplicateUPC: 702795849368, upc1:600346751019, upc1ProductID: '16.SI.12.', upc2: 702795849368, upc2ProductID: '16.VA16-HUMAN.10/613.'},
                {duplicateUPC: 702795849375, upc1:600346751026, upc1ProductID: '16.SI.12/600.', upc2: 799861394365, upc2ProductID: '16.VA16-HUMAN.24.'},
                {duplicateUPC: 702795849382, upc1:600346751033, upc1ProductID: '16.SI.22.', upc2: 799861394372, upc2ProductID: '16.VA16-HUMAN.27.'},
                {duplicateUPC: 702795849399, upc1:600346751040, upc1ProductID: '16.SI.24.', upc2: 799861394389, upc2ProductID: '16.VA16-HUMAN.27/613.'},
                {duplicateUPC: 702795849405, upc1:600346751057, upc1ProductID: '16.SI.27.', upc2: 799861394396, upc2ProductID: '16.VA16-HUMAN.30/33.'},
                {duplicateUPC: 702795849412, upc1:600346751064, upc1ProductID: '16.SI.27A.', upc2: 799861394419, upc2ProductID: '16.VA16-HUMAN.613.'},
                {duplicateUPC: 702795849429, upc1:600346751071, upc1ProductID: '16.SI.27/613.', upc2: 702795849429, upc2ProductID: '20.VA20-HUMAN.1.'},
                {duplicateUPC: 702795849436, upc1:600346751088, upc1ProductID: '16.SI.30.', upc2: 702795849436, upc2ProductID: '20.VA20-HUMAN.1B.'},
                {duplicateUPC: 702795849443, upc1:600346751095, upc1ProductID: '16.SI.30/33.', upc2: 702795849443, upc2ProductID: '20.VA20-HUMAN.2.'},
                {duplicateUPC: 702795849450, upc1:600346751101, upc1ProductID: '16.SI.31.', upc2: 702795849450, upc2ProductID: '20.VA20-HUMAN.4.'},
                {duplicateUPC: 702795849467, upc1:600346751118, upc1ProductID: '16.SI.32.', upc2: 702795849467, upc2ProductID: '20.VA20-HUMAN.4/33.'},
                {duplicateUPC: 702795849474, upc1:600346751125, upc1ProductID: '16.SI.33.', upc2: 702795849474, upc2ProductID: '20.VA20-HUMAN.6.'},
                {duplicateUPC: 702795849481, upc1:600346751132, upc1ProductID: '16.SI.60.', upc2: 702795849481, upc2ProductID: '20.VA20-HUMAN.6/10.'},
                {duplicateUPC: 702795849498, upc1:600346751149, upc1ProductID: '16.SI.600.', upc2: 702795849498, upc2ProductID: '20.VA20-HUMAN.6/24.'},
                {duplicateUPC: 702795849504, upc1:600346751156, upc1ProductID: '16.SI.613.', upc2: 702795849504, upc2ProductID: '20.VA20-HUMAN.8.'},
                {duplicateUPC: 702795849511, upc1:600346751163, upc1ProductID: '16.SI.1001.', upc2: 702795849511, upc2ProductID: '20.VA20-HUMAN.10.'},
                {duplicateUPC: 702795849528, upc1:600346751170, upc1ProductID: '18.SI.1.', upc2: 702795849528, upc2ProductID: '20.VA20-HUMAN.10/12.'},
                {duplicateUPC: 702795849535, upc1:600346751187, upc1ProductID: '18.SI.1B.', upc2: 702795849535, upc2ProductID: '20.VA20-HUMAN.10/613.'},
                {duplicateUPC: 702795849542, upc1:600346751194, upc1ProductID: '18.SI.2.', upc2: 702795849542, upc2ProductID: '20.VA20-HUMAN.24.'},
                {duplicateUPC: 702795849559, upc1:600346751200, upc1ProductID: '18.SI.3R.', upc2: 702795849559, upc2ProductID: '20.VA20-HUMAN.27.'},
                {duplicateUPC: 702795849566, upc1:600346751217, upc1ProductID: '18.SI.4.', upc2: 702795849566, upc2ProductID: '20.VA20-HUMAN.27/613.'},
                {duplicateUPC: 702795849573, upc1:600346751224, upc1ProductID: '18.SI.5B.', upc2: 702795849573, upc2ProductID: '20.VA20-HUMAN.30/33.'},
                {duplicateUPC: 702795849580, upc1:600346751231, upc1ProductID: '18.SI.5R.', upc2: 702795849580, upc2ProductID: '20.VA20-HUMAN.613.'},
                {duplicateUPC: 702795849597, upc1:600346751248, upc1ProductID: '18.SI.6.', upc2: 702795849597, upc2ProductID: '16.VA-SYNTH.4.'},
                {duplicateUPC: 702795849603, upc1:600346751255, upc1ProductID: '18.SI.6/10.', upc2: 702795849603, upc2ProductID: '16.VA-SYNTH.4/33.'},
                {duplicateUPC: 702795849610, upc1:600346751262, upc1ProductID: '18.SI.8.', upc2: 702795849610, upc2ProductID: '16.VA-SYNTH.6.'},
                {duplicateUPC: 702795849627, upc1:600346751279, upc1ProductID: '18.SI.10.', upc2: 702795849627, upc2ProductID: '16.VA-SYNTH.6/10.'},
                {duplicateUPC: 702795849634, upc1:600346751286, upc1ProductID: '18.SI.12.', upc2: 702795849634, upc2ProductID: '16.VA-SYNTH.6/24.'},
                {duplicateUPC: 702795849641, upc1:600346751293, upc1ProductID: '18.SI.12/600.', upc2: 702795849641, upc2ProductID: '16.VA-SYNTH.8.'},
                {duplicateUPC: 702795849658, upc1:600346751309, upc1ProductID: '18.SI.22.', upc2: 702795849658, upc2ProductID: '16.VA-SYNTH.10.'},
                {duplicateUPC: 702795849665, upc1:600346751316, upc1ProductID: '18.SI.24.', upc2: 702795849665, upc2ProductID: '16.VA-SYNTH.10/12.'},
                {duplicateUPC: 702795849672, upc1:600346751323, upc1ProductID: '18.SI.27.', upc2: 702795849672, upc2ProductID: '16.VA-SYNTH.10/613.'},
                {duplicateUPC: 702795849689, upc1:600346751330, upc1ProductID: '18.SI.27A.', upc2: 702795849689, upc2ProductID: '16.VA-SYNTH.24.'},
                {duplicateUPC: 702795849696, upc1:600346751347, upc1ProductID: '18.SI.27/613.', upc2: 702795849696, upc2ProductID: '16.VA-SYNTH.27.'},
                {duplicateUPC: 702795849702, upc1:600346751354, upc1ProductID: '18.SI.30.', upc2: 702795849702, upc2ProductID: '16.VA-SYNTH.27/613.'},
                {duplicateUPC: 702795849719, upc1:600346751361, upc1ProductID: '18.SI.30/33.', upc2: 702795849719, upc2ProductID: '16.VA-SYNTH.30/33.'},
                {duplicateUPC: 702795849726, upc1:600346751378, upc1ProductID: '18.SI.31.', upc2: 702795849726, upc2ProductID: '16.VA-SYNTH.613.'},
                {duplicateUPC: 702795849733, upc1:600346751385, upc1ProductID: '18.SI.32.', upc2: 702795849733, upc2ProductID: '16.HILO-HUMAN.1.'},
                {duplicateUPC: 702795849740, upc1:600346751392, upc1ProductID: '18.SI.33.', upc2: 799861394426, upc2ProductID: '16.HILO-HUMAN.1B.'},
                {duplicateUPC: 702795849757, upc1:600346751408, upc1ProductID: '18.SI.60.', upc2: 702795849757, upc2ProductID: '16.HILO-HUMAN.2.'},
                {duplicateUPC: 702795849764, upc1:600346751415, upc1ProductID: '18.SI.600.', upc2: 799861394433, upc2ProductID: '16.HILO-HUMAN.4.'},
                {duplicateUPC: 702795849771, upc1:600346751422, upc1ProductID: '18.SI.1001.', upc2: 702795849771, upc2ProductID: '16.HILO-HUMAN.6.'},
                {duplicateUPC: 702795849788, upc1:600346751439, upc1ProductID: '18.SI.613.', upc2: 702795849788, upc2ProductID: '16.HILO-HUMAN.8.'},
                {duplicateUPC: 702795849795, upc1:600346751446, upc1ProductID: '18.SI.99J.', upc2: 799861394440, upc2ProductID: '16.HILO-HUMAN.10.'},
                {duplicateUPC: 702795849801, upc1:600346751453, upc1ProductID: '18.SI.BKWN.', upc2: 702795849801, upc2ProductID: '16.HILO-HUMAN.24.'},
                {duplicateUPC: 702795849818, upc1:600346751460, upc1ProductID: '18.SI.BLUE.', upc2: 799861394471, upc2ProductID: '16.HILO-HUMAN.27.'},
                {duplicateUPC: 702795849825, upc1:600346751477, upc1ProductID: '18.SI.BURG.', upc2: 702795849825, upc2ProductID: '16.HILO-HUMAN.60.'},
                {duplicateUPC: 702795849832, upc1:600346751484, upc1ProductID: '18.SI.DKFXA.', upc2: 702795849832, upc2ProductID: '16.HILO-HUMAN.613.'},
                {duplicateUPC: 702795849849, upc1:600346751491, upc1ProductID: '18.SI.GREEN.', upc2: 702795849849, upc2ProductID: '16.HILO-HUMAN.BLUE.'},
                {duplicateUPC: 702795849856, upc1:600346751507, upc1ProductID: '18.SI.PINK.', upc2: 799861394563, upc2ProductID: '16.HILO-HUMAN.BURG.'},
                {duplicateUPC: 702795849863, upc1:600346751514, upc1ProductID: '18.SI.PURP.', upc2: 702795849863, upc2ProductID: '16.HILO-HUMAN.DKFXA.'},
                {duplicateUPC: 702795849870, upc1:600346751521, upc1ProductID: '18.SI.RED.', upc2: 799861394549, upc2ProductID: '16.HILO-HUMAN.GREEN.'},
                {duplicateUPC: 702795849887, upc1:600346751538, upc1ProductID: '18.SI.RDWN.', upc2: 799861394525, upc2ProductID: '16.HILO-HUMAN.PINK.'},
                {duplicateUPC: 702795849894, upc1:600346751545, upc1ProductID: '18.SI.TEAL.', upc2: 702795849894, upc2ProductID: '16.HILO-HUMAN.PURP.'},
                {duplicateUPC: 702795849900, upc1:600346751552, upc1ProductID: '18.SI.T1B/BURG.', upc2: 799861394501, upc2ProductID: '16.HILO-HUMAN.RED.'},
                {duplicateUPC: 702795849917, upc1:600346751569, upc1ProductID: '18.SI.FUNKY.', upc2: 702795849917, upc2ProductID: '18.HILO-SYNTH.1.'},
                {duplicateUPC: 702795849924, upc1:600346751576, upc1ProductID: '22.SI.1.', upc2: 702795849924, upc2ProductID: '18.HILO-SYNTH.1B.'},
                {duplicateUPC: 702795849931, upc1:600346751583, upc1ProductID: '22.SI.1B.', upc2: 702795849931, upc2ProductID: '18.HILO-SYNTH.2.'},
                {duplicateUPC: 702795849948, upc1:600346751590, upc1ProductID: '22.SI.2.', upc2: 702795849948, upc2ProductID: '18.HILO-SYNTH.4.'},
                {duplicateUPC: 702795849955, upc1:600346751606, upc1ProductID: '22.SI.3R.', upc2: 702795849955, upc2ProductID: '18.HILO-SYNTH.6.'},
                {duplicateUPC: 702795849962, upc1:600346751613, upc1ProductID: '22.SI.4.', upc2: 702795849962, upc2ProductID: '18.HILO-SYNTH.8.'},
                {duplicateUPC: 702795849979, upc1:600346751620, upc1ProductID: '22.SI.5B.', upc2: 702795849979, upc2ProductID: '18.HILO-SYNTH.10.'},
                {duplicateUPC: 702795849986, upc1:600346751637, upc1ProductID: '22.SI.5R.', upc2: 702795849986, upc2ProductID: '18.HILO-SYNTH.27.'},
                {duplicateUPC: 702795849993, upc1:600346751644, upc1ProductID: '22.SI.6.', upc2: 702795849993, upc2ProductID: '18.HILO-SYNTH.613.'},
                {duplicateUPC: 702795850005, upc1:600346751651, upc1ProductID: '22.SI.6/10.', upc2: 702795850005, upc2ProductID: '18.HILO-SYNTH.BLUE.'},
                {duplicateUPC: 702795850012, upc1:600346751668, upc1ProductID: '22.SI.8.', upc2: 702795850012, upc2ProductID: '18.HILO-SYNTH.BURG.'},
                {duplicateUPC: 702795850029, upc1:600346751675, upc1ProductID: '22.SI.10.', upc2: 702795850029, upc2ProductID: '18.HILO-SYNTH.DKFXA.'},
                {duplicateUPC: 702795850036, upc1:600346751682, upc1ProductID: '22.SI.12.', upc2: 702795850036, upc2ProductID: '18.HILO-SYNTH.GREEN.'},
                {duplicateUPC: 702795850043, upc1:600346751699, upc1ProductID: '22.SI.12/600.', upc2: 702795850043, upc2ProductID: '18.HILO-SYNTH.ORANGE.'},
                {duplicateUPC: 702795850050, upc1:600346751705, upc1ProductID: '22.SI.22.', upc2: 702795850050, upc2ProductID: '18.HILO-SYNTH.PINK.'},
                {duplicateUPC: 702795850067, upc1:600346751712, upc1ProductID: '22.SI.24.', upc2: 702795850067, upc2ProductID: '18.HILO-SYNTH.PURP.'},
                {duplicateUPC: 702795850074, upc1:600346751729, upc1ProductID: '22.SI.27.', upc2: 702795850074, upc2ProductID: '18.HILO-SYNTH.RED.'},
                {duplicateUPC: 702795850081, upc1:600346751736, upc1ProductID: '22.SI.27A.', upc2: 702795850081, upc2ProductID: '18.HILO-SYNTH.WHITE.'},
                {duplicateUPC: 702795850098, upc1:600346750876, upc1ProductID: '18.SI.O-4_30_613.', upc2: 702795850098, upc2ProductID: '22.SI.27/613.'},
                {duplicateUPC: 702795850104, upc1:600346752160, upc1ProductID: '18.SI.O-2_27A.', upc2: 702795850104, upc2ProductID: '22.SI.30.'},
                {duplicateUPC: 702795850111, upc1:600346752177, upc1ProductID: '18.SI.O-1B_TEAL.', upc2: 702795850111, upc2ProductID: '22.SI.30/33.'},
                {duplicateUPC: 702795850128, upc1:702795850128, upc1ProductID: '22.SI.31.', upc2: 600346750845, upc2ProductID: '18.KLS.O-4_30_613.'},
                {duplicateUPC: 702795850135, upc1:702795850135, upc1ProductID: '22.SI.32.', upc2: 600346750852, upc2ProductID: '18.KLS.O-2_27A.'},
                {duplicateUPC: 702795850142, upc1:702795850142, upc1ProductID: '22.SI.33.', upc2: 600346750869, upc2ProductID: '18.KLS.O-1B_TEAL.'},
                {duplicateUPC: 702795850159, upc1:702795850159, upc1ProductID: '22.SI.60.', upc2: 600346750814, upc2ProductID: '18.S-TAPE.O-4_30_613.'},
                {duplicateUPC: 702795850166, upc1:702795850166, upc1ProductID: '22.SI.600.', upc2: 600346750906, upc2ProductID: '18.S-TAPE.O-2_27A.'},
                {duplicateUPC: 702795850173, upc1:702795850173, upc1ProductID: '22.SI.613.', upc2: 600346750838, upc2ProductID: '18.S-TAPE.O-1B_TEAL.'}
              ]

              

              $('#check1').keypress(function(e){
                if (e.which == 13){
                  var searchUPC = $(this).val(); 
                  console.log(searchUPC);  //prints value that has been submitted after keypress
                  //- //- loop through array with value
                  //- console.log(duplicates[1].duplicateUPC)
                  //- console.log(duplicates.length)
                  for(i=0;i<duplicates.length;i++){
                    //console.log(duplicates[i].duplicateUPC);
                    if (duplicates[i].duplicateUPC == searchUPC){
                      console.log("hurray");
                      var upc1 = duplicates[i].upc1;
                      var upc2 = duplicates[i].upc2;
                      $('#dup1').empty();
                      $('#dup2').empty();
                      //- now append the values to the buttons ids= dup1, dup2
                      $('#dup1').append(upc1 + '<br/>' + duplicates[i].upc1ProductID);
                      $('#dup2').append(upc2 + '<br/>' + duplicates[i].upc2ProductID);
                      $("#myModal").modal(); 
                      //- still need to cleak button text on click and move cursor to quantity
                      $("#dup1").click(function () {
                        $("#check1").val(upc1);
                        $('#myModal').modal('hide');
                        $('input[name=quantity1]').click().focus();
                      });  
                      $("#dup2").click(function () {
                        $("#check1").val(upc2);
                        $('#myModal').modal('hide');
                        $('input[name=quantity1]').click().focus();
                      });
                    }
                  };

                  } //end if
                });  //end keydown
              


              $('#check2').keypress(function(e){

                if (e.which == 13){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){

                    if (duplicates[i].duplicateUPC == searchUPC){
                        console.log("hurray");
                        $('#dup3').empty();
                        $('#dup4').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup3').append(upc1 + '<br/>' + duplicates[i].upc1ProductID);
                      $('#dup4').append(upc2 + '<br/>' + duplicates[i].upc2ProductID);
                      $("#myModal2").modal(); 

                      $("#dup3").click(function () {
                        $("#check2").val(upc1);
                        $('#myModal2').modal('hide');
                        $('input[name=quantity2]').click().focus();
                      });  

                      $("#dup4").click(function () {
                        $("#check2").val(upc2);
                        $('#myModal2').modal('hide');
                        $('input[name=quantity2]').click().focus();
                      });   

                    }
                  };

                  }
                });

                //- checker #3 dup 5-6 modal3
                $('#check3').keydown(function(e){

                if (e.which == 9){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){

                    if (duplicates[i].duplicateUPC == searchUPC){
                        console.log("hurray");
                        $('#dup5').empty();
                        $('#dup6').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup5').append(upc1 + '<br/>' + duplicates[i].upc1ProductID);
                      $('#dup6').append(upc2 + '<br/>' + duplicates[i].upc2ProductID);
                      $("#myModal3").modal(); 

                      $("#dup5").click(function () {
                        $("#check3").val(upc1);
                        $('#myModal3').modal('hide');
                        $('input[name=quantity3]').click().focus();
                      });  

                      $("#dup6").click(function () {
                        $("#check3").val(upc2);
                        $('#myModal3').modal('hide');
                        $('input[name=quantity3]').click().focus();
                      });   

                    }
                  };

                  }
                });

                //- checker #4 dup 7-8 modal4

                $('#check4').keydown(function(e){

                if (e.which == 9){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){

                    if (duplicates[i].duplicateUPC == searchUPC){
                        console.log("hurray");
                        $('#dup7').empty();
                        $('#dup8').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup7').append(upc1 + '<br/>' + duplicates[i].upc1ProductID);
                      $('#dup8').append(upc2 + '<br/>' + duplicates[i].upc2ProductID);
                      $("#myModal4").modal(); 

                      $("#dup7").click(function () {
                        $("#check4").val(upc1);
                        $('#myModal4').modal('hide');
                        $('input[name=quantity4]').click().focus();
                      });  

                      $("#dup8").click(function () {
                        $("#check4").val(upc2);
                        $('#myModal4').modal('hide');
                        $('input[name=quantity4]').click().focus();
                      });   

                    }
                  };

                  }
                });

                //- checker #5 dup 9-10 modal5

                $('#check5').keydown(function(e){

                if (e.which == 9){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){

                    if (duplicates[i].duplicateUPC == searchUPC){
                        console.log("hurray");
                        $('#dup9').empty();
                        $('#dup10').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup9').append(upc1 + '<br/>' + duplicates[i].upc1ProductID);
                      $('#dup10').append(upc2 + '<br/>' + duplicates[i].upc2ProductID);
                      $("#myModal5").modal(); 

                      $("#dup9").click(function () {
                        $("#check5").val(upc1);
                        $('#myModal5').modal('hide');
                        $('input[name=quantity5]').click().focus();
                      });  

                      $("#dup10").click(function () {
                        $("#check5").val(upc2);
                        $('#myModal5').modal('hide');
                        $('input[name=quantity5]').click().focus();
                      });   

                    }
                  };

                  }
                });

                //- checker #6 dup 11-12 modal6
                $('#check6').keydown(function(e){

                if (e.which == 9){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){

                    if (duplicates[i].duplicateUPC == searchUPC){
                        console.log("hurray");
                        $('#dup11').empty();
                        $('#dup12').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup11').append(upc1 + '<br/>' + duplicates[i].upc1ProductID);
                      $('#dup12').append(upc2 + '<br/>' + duplicates[i].upc2ProductID);
                      $("#myModal6").modal(); 

                      $("#dup11").click(function () {
                        $("#check6").val(upc1);
                        $('#myModal6').modal('hide');
                        $('input[name=quantity6]').click().focus();
                      });  

                      $("#dup12").click(function () {
                        $("#check6").val(upc2);
                        $('#myModal6').modal('hide');
                        $('input[name=quantity6]').click().focus();
                      });   

                    }
                  };

                  }
                });

                //- checker #7 dup 13-14 modal7
                $('#check7').keydown(function(e){

                if (e.which == 9){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){

                    if (duplicates[i].duplicateUPC == searchUPC){
                        console.log("hurray");
                        $('#dup13').empty();
                        $('#dup14').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup13').append(upc1 + '<br/>' + duplicates[i].upc1ProductID);
                      $('#dup14').append(upc2 + '<br/>' + duplicates[i].upc2ProductID);
                      $("#myModal7").modal(); 

                      $("#dup13").click(function () {
                        $("#check7").val(upc1);
                        $('#myModal7').modal('hide');
                        $('input[name=quantity7]').click().focus();
                      });  

                      $("#dup14").click(function () {
                        $("#check7").val(upc2);
                        $('#myModal7').modal('hide');
                        $('input[name=quantity7]').click().focus();
                      });   

                    }
                  };

                  }
                });

                //- checker #8 dup 15-16 modal8
                $('#check8').keydown(function(e){

                if (e.which == 9){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){

                    if (duplicates[i].duplicateUPC == searchUPC){
                        console.log("hurray");
                        $('#dup15').empty();
                        $('#dup16').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup15').append(upc1 + '<br/>' + duplicates[i].upc1ProductID);
                      $('#dup16').append(upc2 + '<br/>' + duplicates[i].upc2ProductID);
                      $("#myModal8").modal(); 

                      $("#dup15").click(function () {
                        $("#check8").val(upc1);
                        $('#myModal8').modal('hide');
                        $('input[name=quantity8]').click().focus();
                      });  

                      $("#dup16").click(function () {
                        $("#check8").val(upc2);
                        $('#myModal8').modal('hide');
                        $('input[name=quantity8]').click().focus();
                      });   

                    }
                  };

                  }
                });

              

      });

    //-     function addRow(tableID) {
    //- //debugger;
    //-  var tableID="tableCreate";
    //-  var table = document.getElementById(tableID);
    //-  var rowCount = table.rows.length;

    //- if(rowCount<7){
   
    //-     var row = table.insertRow(rowCount);
    //-     var cell1 = row.insertCell(0);        
    //-     var cell2 = row.insertCell(1);
    //-     var cell3 = row.insertCell(2);
    //-     var element2 = document.createElement('input');
    //-     element2.type="text";
    //-     cell2.appendChild(element2);

    //-        }
    //-    }

    //-   function removeRow(){
    //-       var tableID="tableCreate";
    //-       var table = document.getElementById(tableID);
    //-       var rowCount = table.rows.length;

    //-       if(rowCount>1){            
    //-           table.deleteRow(-1);
    //-       }
    //-   }
      //- function myCreateFunction() {
      //- var table = document.getElementById("myTable");
      //- var count = table.rows.length;  //how many rows to allow

      //-   if (count < 11) {
      //-     var row = table.insertRow(-1);
      //-     var cell1 = row.insertCell(0);
      //-     var cell2 = row.insertCell(1);
      //-     cell1.style.backgroundColor = '#D0D0D0'
      //-     cell1.innerHTML = '<input class="form-control" type="text" placeholder="UPC" size="10" name="upcArray" style="font-size: 13px;padding:0px; margin:0px; text-align:center; height:50px;" />';
      //-     cell2.innerHTML = '<input class="form-control quan" type="number" placeholder="QUANTITY" size="10" name="quantityArray" style="font-size: 13px;padding:0px; margin:0px; text-align:center; height:50px;" />';
      //-     $('input[name="upcArray"]').focus();
      //-   }
      //- }
      
      //- function myDeleteFunction() {
      //-     document.getElementById("myTable").deleteRow(-1);
      //- }


     







