extends layout

block content
  
  h1(id="header", style="padding-top: 75px;") Scan Inventory

  h5(style="color:red;")=success

  div.inputFields(style="background:#D0D0D0; width:90%; margin:80px auto; padding-top:20px; padding-bottom:50px; border-radius: 8px;")
   h2(style="text-align:center; padding-bottom: 10px;")=error
   div(style="float:right; margin-top: 0.35%; padding-right: 10px;")
    //- button.btn.btn-warning(onclick="myDeleteFunction()", style="font-size: 40px; background-color:red; color:white; border: 1px solid;") &#8593;
    //- br
    //- button.btn.btn-warning(onclick="myCreateFunction()", style="font-size: 40px; background-color:green; color: white; border: 1px solid #ddd;") &#8595;

   form(role='form', method="Post", action="/locateThree", name="ProductQuantity")
    table.table-striped.table-bordered.table-responsive#myTable(width="80%", align="center", style="font-size:18px;border-collapse:collapse" )
     tr
      td(style="width:50%;")
       input.form-control.scanner(type="text", required, id="loc", placeholder="LOCATION", name="bin11", size="18")
      td
       input.form-control.scanner(type="text", required, id="loc", placeholder="PO", name="shipment", size="10")
     tr
      td
       input.form-control.scanner#check1(type="text", required, placeholder="UPC #1",  name="upc1", size="10")
      td
       input.form-control.quan.scanner#quan1(type="number", required, placeholder="QUANTITY #1",  name="quantity1", size="10")
     tr
      td
       input.form-control.scanner#check2(type="text", placeholder="UPC #2",  name="upc2", size="10")
      td
       input.form-control.quan.scanner#quan2(type="number", placeholder="QUANTITY #2",  name="quantity2", size="10")
     tr
      td
       input.form-control.scanner#check3(type="text", placeholder="UPC #3",  name="upc3", size="10")
      td
       input.form-control.quan.scanner#quan3(type="number", placeholder="QUANTITY #3",  name="quantity3", size="10")
     tr
      td
       input.form-control.scanner#check4(type="text", placeholder="UPC #4",  name="upc4", size="10")
      td
       input.form-control.quan.scanner#quan4(type="number", placeholder="QUANTITY #4",  name="quantity4", size="10")
     tr
      td
       input.form-control.scanner#check5(type="text", placeholder="UPC #5",  name="upc5", size="10")
      td
       input.form-control.quan.scanner#quan5(type="number", placeholder="QUANTITY #5",  name="quantity5", size="10")
     tr
      td
       input.form-control.scanner#check6(type="text", placeholder="UPC #6",  name="upc6", size="10")
      td
       input.form-control.quan.scanner#quan6(type="number", placeholder="QUANTITY #6",  name="quantity6", size="10")
     tr
      td
       input.form-control.scanner#check7(type="text", placeholder="UPC #7",  name="upc7", size="10")
      td
       input.form-control.quan.scanner#quan7(type="number", placeholder="QUANTITY #7",  name="quantity7", size="10")
     tr
      td
       input.form-control.scanner#check8(type="text", placeholder="UPC #8",  name="upc8", size="10")
      td
       input.form-control.quan.scanner#quan8(type="number", placeholder="QUANTITY #8",  name="quantity8", size="10")
    button.btn.invSub(type="submit", onclick="return checker();", style="font-size:35px;") Submit
 
  #myModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close#close1(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup1(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup2(type="submit", style="font-size:30px; padding-top:5px; display: inline;")


  #myModal2.modal.fade(role='dialog')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup3(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup4(type="submit", style="font-size:30px; padding-top:5px; display: inline;")
  #myModal3.modal.fade(role='dialog')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup5(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup6(type="submit", style="font-size:30px; padding-top:5px; display: inline;")

  #myModal4.modal.fade(role='dialog')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup7(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup8(type="submit", style="font-size:30px; padding-top:5px; display: inline;")

  #myModal5.modal.fade(role='dialog')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup9(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup10(type="submit", style="font-size:30px; padding-top:5px; display: inline;")

  #myModal6.modal.fade(role='dialog')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup11(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup12(type="submit", style="font-size:30px; padding-top:5px; display: inline;")

  #myModal7.modal.fade(role='dialog')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup13(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup14(type="submit", style="font-size:30px; padding-top:5px; display: inline;")

  #myModal8.modal.fade(role='dialog')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Duplicate Inventory
        .modal-body
          button#dup15(type="submit", style="font-size:30px; padding-top:5px; display: inline; padding-right:5px;")
          div(style="width:20px; heigth: auto; display: inline-block;")
          button#dup16(type="submit", style="font-size:30px; padding-top:5px; display: inline;")
 

  


     

  script.
    $(document).ready(function() {

    	$('input[name=bin11]').click().focus();

      //- success message

       $('.mess').hide();

       $('.invSub').bind('click', function(){
           window.scrollTo(0,0);
           $('.mess').show(200).delay(4000).hide(200);
       }); 


        //-   //- Press enter on quantities to submit to inventory
        //- $('.quan').keypress(function (e){
       	//-  if(e.which == 13){
        //-  $('.invSub').focus().click();
        //-  //window.scrollTo(200,400);
        //-  return false;
        //-  }
       	//- })
            $(document).on("keypress", "form", function(event) { 
              return event.keyCode != 13;
            });


        $('input[name=type]').attr('checked',false);
        $('input[name=length]').attr('checked',false);
        $('input[name=color]').attr('checked',false);


         //- function checker(){
         //-        if ($('.check').val() != ''){
         //-          console.log($('.check').val());
         //-          $('.quan').prop('required',true);
         //-          }

         //-      }

    

            function checker(){
                if ($('#check2').val() != ''){
                  console.log($('#check2').val());
                  $('#quan2').prop('required',true);
                  }
                if ($('#check3').val() != ''){
                  console.log($('#check3').val());
                  $('#quan3').prop('required',true);
                  }
                if ($('#check4').val() != ''){
                  console.log($('#check4').val());
                  $('#quan4').prop('required',true);
                  }
                if ($('#check5').val() != ''){
                  console.log($('#check5').val());
                  $('#quan5').prop('required',true);
                  }
                if ($('#check6').val() != ''){
                  console.log($('#check6').val());
                  $('#quan6').prop('required',true);
                  }
                if ($('#check7').val() != ''){
                  console.log($('#check7').val());
                  $('#quan7').prop('required',true);
                  }
                if ($('#check8').val() != ''){
                  console.log($('#check8').val());
                  $('#quan8').prop('required',true);
                  }
                 
              }


              //- DUPLICATES
              var duplicates = [
                {duplicateUPC: 702795849269, upc1:600346752146, upc1ProductID: '16.SI.1B.', upc2: 799861394266, upc2ProductID: '16.VA16-HUMAN.1B.'},
                {duplicateUPC: 702795849276, upc1:600346750920, upc1ProductID: '16.SI.2.', upc2: 799861394273, upc2ProductID: '16.VA16-HUMAN.2.'},
                {duplicateUPC: 702795849283, upc1:600346750937, upc1ProductID: '16.SI.3R.', upc2: 799861394280, upc2ProductID: '16.VA16-HUMAN.4.'},
                {duplicateUPC: 702795849290, upc1:600346750944, upc1ProductID: '16.SI.4.', upc2: 702795849290, upc2ProductID: '16.VA16-HUMAN.4/33.'},
                {duplicateUPC: 702795849306, upc1:600346750951, upc1ProductID: '16.SI.5B.', upc2: 799861394303, upc2ProductID: '16.VA16-HUMAN.6.'},
                {duplicateUPC: 702795849313, upc1:600346750968, upc1ProductID: '16.SI.5R.', upc2: 799861394310, upc2ProductID: '16.VA16-HUMAN.6/10.'},
                {duplicateUPC: 702795849320, upc1:600346750975, upc1ProductID: '16.SI.6.', upc2: 702795849320, upc2ProductID: '16.VA16-HUMAN.6/24.'},
                {duplicateUPC: 702795849337, upc1:600346750982, upc1ProductID: '16.SI.6/10.', upc2: 799861394334, upc2ProductID: '16.VA16-HUMAN.8.'},
                {duplicateUPC: 702795849344, upc1:600346750999, upc1ProductID: '16.SI.8.', upc2: 799861394341, upc2ProductID: '16.VA16-HUMAN.10.'},
                {duplicateUPC: 702795849351, upc1:600346751002, upc1ProductID: '16.SI.10.', upc2: 702795849351, upc2ProductID: '16.VA16-HUMAN.10/12.'},
                {duplicateUPC: 702795849368, upc1:600346751019, upc1ProductID: '16.SI.12.', upc2: 702795849368, upc2ProductID: '16.VA16-HUMAN.10/613.'},
                {duplicateUPC: 702795849375, upc1:600346751026, upc1ProductID: '16.SI.12/600.', upc2: 799861394365, upc2ProductID: '16.VA16-HUMAN.24.'},
                {duplicateUPC: 702795849382, upc1:600346751033, upc1ProductID: '16.SI.22.', upc2: 799861394372, upc2ProductID: '16.VA16-HUMAN.27.'},
                {duplicateUPC: 702795849399, upc1:600346751040, upc1ProductID: '16.SI.24.', upc2: 799861394389, upc2ProductID: '16.VA16-HUMAN.27/613.'},
                {duplicateUPC: 702795849405, upc1:600346751057, upc1ProductID: '16.SI.27.', upc2: 799861394396, upc2ProductID: '16.VA16-HUMAN.30/33.'},
                {duplicateUPC: 702795849412, upc1:600346751064, upc1ProductID: '16.SI.27A.', upc2: 799861394419, upc2ProductID: '16.VA16-HUMAN.613.'},
                {duplicateUPC: 702795849429, upc1:600346751071, upc1ProductID: '16.SI.27/613.', upc2: 702795849429, upc2ProductID: '20.VA20-HUMAN.1.'},
                {duplicateUPC: 702795849436, upc1:600346751088, upc1ProductID: '16.SI.30.', upc2: 702795849436, upc2ProductID: '20.VA20-HUMAN.1B.'},
                {duplicateUPC: 702795849443, upc1:600346751095, upc1ProductID: '16.SI.30/33.', upc2: 702795849443, upc2ProductID: '20.VA20-HUMAN.2.'},
                {duplicateUPC: 702795849450, upc1:600346751101, upc1ProductID: '16.SI.31.', upc2: 702795849450, upc2ProductID: '20.VA20-HUMAN.4.'},
                {duplicateUPC: 702795849467, upc1:600346751118, upc1ProductID: '16.SI.32.', upc2: 702795849467, upc2ProductID: '20.VA20-HUMAN.4/33.'},
                {duplicateUPC: 702795849474, upc1:600346751125, upc1ProductID: '16.SI.33.', upc2: 702795849474, upc2ProductID: '20.VA20-HUMAN.6.'},
                {duplicateUPC: 702795849481, upc1:600346751132, upc1ProductID: '16.SI.60.', upc2: 702795849481, upc2ProductID: '20.VA20-HUMAN.6/10.'},
                {duplicateUPC: 702795849498, upc1:600346751149, upc1ProductID: '16.SI.600.', upc2: 702795849498, upc2ProductID: '20.VA20-HUMAN.6/24.'},
                {duplicateUPC: 702795849504, upc1:600346751156, upc1ProductID: '16.SI.613.', upc2: 702795849504, upc2ProductID: '20.VA20-HUMAN.8.'},
                {duplicateUPC: 702795849511, upc1:600346751163, upc1ProductID: '16.SI.1001.', upc2: 702795849511, upc2ProductID: '20.VA20-HUMAN.10.'},
                {duplicateUPC: 702795849528, upc1:600346751170, upc1ProductID: '18.SI.1.', upc2: 702795849528, upc2ProductID: '20.VA20-HUMAN.10/12.'},
                {duplicateUPC: 702795849535, upc1:600346751187, upc1ProductID: '18.SI.1B.', upc2: 702795849535, upc2ProductID: '20.VA20-HUMAN.10/613.'},
                {duplicateUPC: 702795849542, upc1:600346751194, upc1ProductID: '18.SI.2.', upc2: 702795849542, upc2ProductID: '20.VA20-HUMAN.24.'},
                {duplicateUPC: 702795849559, upc1:600346751200, upc1ProductID: '18.SI.3R.', upc2: 702795849559, upc2ProductID: '20.VA20-HUMAN.27.'},
                {duplicateUPC: 702795849566, upc1:600346751217, upc1ProductID: '18.SI.4.', upc2: 702795849566, upc2ProductID: '20.VA20-HUMAN.27/613.'},
                {duplicateUPC: 702795849573, upc1:600346751224, upc1ProductID: '18.SI.5B.', upc2: 702795849573, upc2ProductID: '20.VA20-HUMAN.30/33.'},
                {duplicateUPC: 702795849580, upc1:600346751231, upc1ProductID: '18.SI.5R.', upc2: 702795849580, upc2ProductID: '20.VA20-HUMAN.613.'},
                {duplicateUPC: 702795849597, upc1:600346751248, upc1ProductID: '18.SI.6.', upc2: 702795849597, upc2ProductID: '16.VA-SYNTH.4.'},
                {duplicateUPC: 702795849603, upc1:600346751255, upc1ProductID: '18.SI.6/10.', upc2: 702795849603, upc2ProductID: '16.VA-SYNTH.4/33.'},
                {duplicateUPC: 702795849610, upc1:600346751262, upc1ProductID: '18.SI.8.', upc2: 702795849610, upc2ProductID: '16.VA-SYNTH.6.'},
                {duplicateUPC: 702795849627, upc1:600346751279, upc1ProductID: '18.SI.10.', upc2: 702795849627, upc2ProductID: '16.VA-SYNTH.6/10.'},
                {duplicateUPC: 702795849634, upc1:600346751286, upc1ProductID: '18.SI.12.', upc2: 702795849634, upc2ProductID: '16.VA-SYNTH.6/24.'},
                {duplicateUPC: 702795849641, upc1:600346751293, upc1ProductID: '18.SI.12/600.', upc2: 702795849641, upc2ProductID: '16.VA-SYNTH.8.'},
                {duplicateUPC: 702795849658, upc1:600346751309, upc1ProductID: '18.SI.22.', upc2: 702795849658, upc2ProductID: '16.VA-SYNTH.10.'},
                {duplicateUPC: 702795849665, upc1:600346751316, upc1ProductID: '18.SI.24.', upc2: 702795849665, upc2ProductID: '16.VA-SYNTH.10/12.'},
                {duplicateUPC: 702795849672, upc1:600346751323, upc1ProductID: '18.SI.27.', upc2: 702795849672, upc2ProductID: '16.VA-SYNTH.10/613.'},
                {duplicateUPC: 702795849689, upc1:600346751330, upc1ProductID: '18.SI.27A.', upc2: 702795849689, upc2ProductID: '16.VA-SYNTH.24.'},
                {duplicateUPC: 702795849696, upc1:600346751347, upc1ProductID: '18.SI.27/613.', upc2: 702795849696, upc2ProductID: '16.VA-SYNTH.27.'},
                {duplicateUPC: 702795849702, upc1:600346751354, upc1ProductID: '18.SI.30.', upc2: 702795849702, upc2ProductID: '16.VA-SYNTH.27/613.'},
                {duplicateUPC: 702795849719, upc1:600346751361, upc1ProductID: '18.SI.30/33.', upc2: 702795849719, upc2ProductID: '16.VA-SYNTH.30/33.'},
                {duplicateUPC: 702795849726, upc1:600346751378, upc1ProductID: '18.SI.31.', upc2: 702795849726, upc2ProductID: '16.VA-SYNTH.613.'},
                {duplicateUPC: 702795849733, upc1:600346751385, upc1ProductID: '18.SI.32.', upc2: 702795849733, upc2ProductID: '16.HILO-HUMAN.1.'},
                {duplicateUPC: 702795849740, upc1:600346751392, upc1ProductID: '18.SI.33.', upc2: 799861394426, upc2ProductID: '16.HILO-HUMAN.1B.'},
                {duplicateUPC: 702795849757, upc1:600346751408, upc1ProductID: '18.SI.60.', upc2: 702795849757, upc2ProductID: '16.HILO-HUMAN.2.'},
                {duplicateUPC: 702795849764, upc1:600346751415, upc1ProductID: '18.SI.600.', upc2: 799861394433, upc2ProductID: '16.HILO-HUMAN.4.'},
                {duplicateUPC: 702795849771, upc1:600346751422, upc1ProductID: '18.SI.1001.', upc2: 702795849771, upc2ProductID: '16.HILO-HUMAN.6.'},
                {duplicateUPC: 702795849788, upc1:600346751439, upc1ProductID: '18.SI.613.', upc2: 702795849788, upc2ProductID: '16.HILO-HUMAN.8.'},
                {duplicateUPC: 702795849795, upc1:600346751446, upc1ProductID: '18.SI.99J.', upc2: 799861394440, upc2ProductID: '16.HILO-HUMAN.10.'},
                {duplicateUPC: 702795849801, upc1:600346751453, upc1ProductID: '18.SI.BKWN.', upc2: 702795849801, upc2ProductID: '16.HILO-HUMAN.24.'},
                {duplicateUPC: 702795849818, upc1:600346751460, upc1ProductID: '18.SI.BLUE.', upc2: 799861394471, upc2ProductID: '16.HILO-HUMAN.27.'},
                {duplicateUPC: 702795849825, upc1:600346751477, upc1ProductID: '18.SI.BURG.', upc2: 702795849825, upc2ProductID: '16.HILO-HUMAN.60.'},
                {duplicateUPC: 702795849832, upc1:600346751484, upc1ProductID: '18.SI.DKFXA.', upc2: 702795849832, upc2ProductID: '16.HILO-HUMAN.613.'},
                {duplicateUPC: 702795849849, upc1:600346751491, upc1ProductID: '18.SI.GREEN.', upc2: 702795849849, upc2ProductID: '16.HILO-HUMAN.BLUE.'},
                {duplicateUPC: 702795849856, upc1:600346751507, upc1ProductID: '18.SI.PINK.', upc2: 799861394563, upc2ProductID: '16.HILO-HUMAN.BURG.'},
                {duplicateUPC: 702795849863, upc1:600346751514, upc1ProductID: '18.SI.PURP.', upc2: 702795849863, upc2ProductID: '16.HILO-HUMAN.DKFXA.'},
                {duplicateUPC: 702795849870, upc1:600346751521, upc1ProductID: '18.SI.RED.', upc2: 799861394549, upc2ProductID: '16.HILO-HUMAN.GREEN.'},
                {duplicateUPC: 702795849887, upc1:600346751538, upc1ProductID: '18.SI.RDWN.', upc2: 799861394525, upc2ProductID: '16.HILO-HUMAN.PINK.'},
                {duplicateUPC: 702795849894, upc1:600346751545, upc1ProductID: '18.SI.TEAL.', upc2: 702795849894, upc2ProductID: '16.HILO-HUMAN.PURP.'},
                {duplicateUPC: 702795849900, upc1:600346751552, upc1ProductID: '18.SI.T1B/BURG.', upc2: 799861394501, upc2ProductID: '16.HILO-HUMAN.RED.'},
                {duplicateUPC: 702795849917, upc1:600346751569, upc1ProductID: '18.SI.FUNKY.', upc2: 702795849917, upc2ProductID: '18.HILO-SYNTH.1.'},
                {duplicateUPC: 702795849924, upc1:600346751576, upc1ProductID: '22.SI.1.', upc2: 702795849924, upc2ProductID: '18.HILO-SYNTH.1B.'},
                {duplicateUPC: 702795849931, upc1:600346751583, upc1ProductID: '22.SI.1B.', upc2: 702795849931, upc2ProductID: '18.HILO-SYNTH.2.'},
                {duplicateUPC: 702795849948, upc1:600346751590, upc1ProductID: '22.SI.2.', upc2: 702795849948, upc2ProductID: '18.HILO-SYNTH.4.'},
                {duplicateUPC: 702795849955, upc1:600346751606, upc1ProductID: '22.SI.3R.', upc2: 702795849955, upc2ProductID: '18.HILO-SYNTH.6.'},
                {duplicateUPC: 702795849962, upc1:600346751613, upc1ProductID: '22.SI.4.', upc2: 702795849962, upc2ProductID: '18.HILO-SYNTH.8.'},
                {duplicateUPC: 702795849979, upc1:600346751620, upc1ProductID: '22.SI.5B.', upc2: 702795849979, upc2ProductID: '18.HILO-SYNTH.10.'},
                {duplicateUPC: 702795849986, upc1:600346751637, upc1ProductID: '22.SI.5R.', upc2: 702795849986, upc2ProductID: '18.HILO-SYNTH.27.'},
                {duplicateUPC: 702795849993, upc1:600346751644, upc1ProductID: '22.SI.6.', upc2: 702795849993, upc2ProductID: '18.HILO-SYNTH.613.'},
                {duplicateUPC: 702795850005, upc1:600346751651, upc1ProductID: '22.SI.6/10.', upc2: 702795850005, upc2ProductID: '18.HILO-SYNTH.BLUE.'},
                {duplicateUPC: 702795850012, upc1:600346751668, upc1ProductID: '22.SI.8.', upc2: 702795850012, upc2ProductID: '18.HILO-SYNTH.BURG.'},
                {duplicateUPC: 702795850029, upc1:600346751675, upc1ProductID: '22.SI.10.', upc2: 702795850029, upc2ProductID: '18.HILO-SYNTH.DKFXA.'},
                {duplicateUPC: 702795850036, upc1:600346751682, upc1ProductID: '22.SI.12.', upc2: 702795850036, upc2ProductID: '18.HILO-SYNTH.GREEN.'},
                {duplicateUPC: 702795850043, upc1:600346751699, upc1ProductID: '22.SI.12/600.', upc2: 702795850043, upc2ProductID: '18.HILO-SYNTH.ORANGE.'},
                {duplicateUPC: 702795850050, upc1:600346751705, upc1ProductID: '22.SI.22.', upc2: 702795850050, upc2ProductID: '18.HILO-SYNTH.PINK.'},
                {duplicateUPC: 702795850067, upc1:600346751712, upc1ProductID: '22.SI.24.', upc2: 702795850067, upc2ProductID: '18.HILO-SYNTH.PURP.'},
                {duplicateUPC: 702795850074, upc1:600346751729, upc1ProductID: '22.SI.27.', upc2: 702795850074, upc2ProductID: '18.HILO-SYNTH.RED.'},
                {duplicateUPC: 702795850081, upc1:600346751736, upc1ProductID: '22.SI.27A.', upc2: 702795850081, upc2ProductID: '18.HILO-SYNTH.WHITE.'},
                {duplicateUPC: 702795850098, upc1:600346750876, upc1ProductID: '18.SI.O-4_30_613.', upc2: 702795850098, upc2ProductID: '22.SI.27/613.'},
                {duplicateUPC: 702795850104, upc1:600346752160, upc1ProductID: '18.SI.O-2_27A.', upc2: 702795850104, upc2ProductID: '22.SI.30.'},
                {duplicateUPC: 702795850111, upc1:600346752177, upc1ProductID: '18.SI.O-1B_TEAL.', upc2: 702795850111, upc2ProductID: '22.SI.30/33.'},
                {duplicateUPC: 702795850128, upc1:702795850128, upc1ProductID: '22.SI.31.', upc2: 600346750845, upc2ProductID: '18.KLS.O-4_30_613.'},
                {duplicateUPC: 702795850135, upc1:702795850135, upc1ProductID: '22.SI.32.', upc2: 600346750852, upc2ProductID: '18.KLS.O-2_27A.'},
                {duplicateUPC: 702795850142, upc1:702795850142, upc1ProductID: '22.SI.33.', upc2: 600346750869, upc2ProductID: '18.KLS.O-1B_TEAL.'},
                {duplicateUPC: 702795850159, upc1:702795850159, upc1ProductID: '22.SI.60.', upc2: 600346750814, upc2ProductID: '18.S-TAPE.O-4_30_613.'},
                {duplicateUPC: 702795850166, upc1:702795850166, upc1ProductID: '22.SI.600.', upc2: 600346750906, upc2ProductID: '18.S-TAPE.O-2_27A.'},
                {duplicateUPC: 702795850173, upc1:702795850173, upc1ProductID: '22.SI.613.', upc2: 600346750838, upc2ProductID: '18.S-TAPE.O-1B_TEAL.'},
                {upc: '022222000012' },{upc: '022222000029' },{upc: '022222000036' },{upc: '022222000043' },{upc: '022222000050' },{upc: '022222000067' },{upc: '022222000074' },{upc: '022222000081' },{upc: '022222000104' },{upc: '022222000111' },{upc: '022222000128' },{upc: '022222000161' },{upc: '022222000172' },{upc: '029292900001' },{upc: 220160000126 },{upc: 220160000294 },{upc: 220160000362 },{upc: 220160000430 },{upc: 220160000508 },{upc: 220160000676 },{upc: 220160000744 },{upc: 220160000980 },{upc: 220160001116 },{upc: 220160001284 },{upc: 220160001611 },{upc: 220160001727 },{upc: 22016000189 },{upc: 220160001925 },{upc: 220160002021 },{upc: 220160002229 },{upc: 220160002823 },{upc: 220160003127 },{upc: 220160003220 },{upc: 220160005428 },{upc: 220160005527 },{upc: 220160005626 },{upc: 220160005725 },{upc: 220160005824 },{upc: 220160005923 },{upc: 220160006029 },{upc: 220160006128 },{upc: 220160006227 },{upc: 220160006326 },{upc: 220160006425 },{upc: 220160066524 },{upc: 221181000012 },{upc: 221181000029 },{upc: 221181000036 },{upc: 221181000043 },{upc: 221181000050 },{upc: 221181000067 },{upc: 221181000072 },{upc: 221181000074 },{upc: 221181000081 },{upc: 221181000098 },{upc: 221181000104 },{upc: 221181000111 },{upc: 221181000171 },{upc: 221181000181 },{upc: 221181000191 },{upc: 221181000201 },{upc: 221181000211 },{upc: 221181000221 },{upc: 221181000231 },{upc: 221181000241 },{upc: 221181000251 },{upc: 221181000271 },{upc: 221181000281 },{upc: 221181000291 },{upc: 221181000301 },{upc: 221181000401 },{upc: 223181000029 },{upc: 223181000036 },{upc: 223181000050 },{upc: 223181000139 },{upc: 223181000172 },{upc: 223181000202 },{upc: 223181021038 },{upc: 223181021040 },{upc: 223181021042 },{upc: 223181021043 },{upc: 223220000036 },{upc: 22322000036 },{upc: 224416000014 },{upc: 224416000015 },{upc: 224416000016 },{upc: 224416000017 },{upc: 224416000018 },{upc: 224416000019 },{upc: 224416000020 },{upc: 224416000021 },{upc: 224416000022 },{upc: 224416000023 },{upc: 224416000024 },{upc: 224416000025 },{upc: 224416000026 },{upc: 224416000027 },{upc: 224416000028 },{upc: 224416000029 },{upc: 224416002001 },{upc: 229991000992 },{upc: 229991000993 },{upc: 229991000994 },{upc: 229991000996 },{upc: 229991000997 },{upc: 229991000998 },{upc: 229991000999 },{upc: 229991001008 },{upc: 229991001009 },{upc: 229991001010 },{upc: 229991001012 },{upc: 229991001028 },{upc: 229991001033 },{upc: 229991001034 },{upc: 229991001038 },{upc: 229991001040 },{upc: 229991001043 },{upc: 229991001051 },{upc: 229991001065 },{upc: 229991001068 },{upc: 229991001073 },{upc: 229991001074 },{upc: 229991001076 },{upc: 229991001079 },{upc: 229991001082 },{upc: 229991001084 },{upc: 229991010985 },{upc: 229991011075 },{upc: 29292900001 },{upc: 29292900002 },{upc: 555698689638 },{upc: 600346750814 },{upc: 600346750814},{upc: 600346750838 },{upc: 600346750838},{upc: 600346750845 },{upc: 600346750845},{upc: 600346750852 },{upc: 600346750852},{upc: 600346750869 },{upc: 600346750869},{upc: 600346750906 },{upc: 600346750906},{upc: 600346750920 },{upc: 600346750920},{upc: 600346750937 },{upc: 600346750937},{upc: 600346750944 },{upc: 600346750944},{upc: 600346750951 },{upc: 600346750951},{upc: 600346750968 },{upc: 600346750968},{upc: 600346750975 },{upc: 600346750975},{upc: 600346750982 },{upc: 600346750982},{upc: 600346750999 },{upc: 600346750999},{upc: 600346751002 },{upc: 600346751002},{upc: 600346751019 },{upc: 600346751019},{upc: 600346751026 },{upc: 600346751026},{upc: 600346751033 },{upc: 600346751033},{upc: 600346751040 },{upc: 600346751040},{upc: 600346751057 },{upc: 600346751057},{upc: 600346751064 },{upc: 600346751064},{upc: 600346751071 },{upc: 600346751071},{upc: 600346751088 },{upc: 600346751088},{upc: 600346751095 },{upc: 600346751095},{upc: 600346751101 },{upc: 600346751101},{upc: 600346751118 },{upc: 600346751118},{upc: 600346751125 },{upc: 600346751125},{upc: 600346751132 },{upc: 600346751132},{upc: 600346751149 },{upc: 600346751149},{upc: 600346751156 },{upc: 600346751156},{upc: 600346751163 },{upc: 600346751163},{upc: 600346751170 },{upc: 600346751170},{upc: 600346751187 },{upc: 600346751187},{upc: 600346751194 },{upc: 600346751194},{upc: 600346751200 },{upc: 600346751200},{upc: 600346751217 },{upc: 600346751217},{upc: 600346751224 },{upc: 600346751224},{upc: 600346751231 },{upc: 600346751231},{upc: 600346751248 },{upc: 600346751248},{upc: 600346751255 },{upc: 600346751255},{upc: 600346751262 },{upc: 600346751262},{upc: 600346751279 },{upc: 600346751279},{upc: 600346751286 },{upc: 600346751286},{upc: 600346751293 },{upc: 600346751293},{upc: 600346751309 },{upc: 600346751309},{upc: 600346751316 },{upc: 600346751316},{upc: 600346751323 },{upc: 600346751323},{upc: 600346751330 },{upc: 600346751330},{upc: 600346751347 },{upc: 600346751347},{upc: 600346751354 },{upc: 600346751354},{upc: 600346751361 },{upc: 600346751361},{upc: 600346751378 },{upc: 600346751378},{upc: 600346751385 },{upc: 600346751385},{upc: 600346751392 },{upc: 600346751392},{upc: 600346751408 },{upc: 600346751408},{upc: 600346751415 },{upc: 600346751415},{upc: 600346751422 },{upc: 600346751422},{upc: 600346751439 },{upc: 600346751439},{upc: 600346751446 },{upc: 600346751446},{upc: 600346751453 },{upc: 600346751453},{upc: 600346751460 },{upc: 600346751460},{upc: 600346751477 },{upc: 600346751477},{upc: 600346751484 },{upc: 600346751484},{upc: 600346751491 },{upc: 600346751491},{upc: 600346751507 },{upc: 600346751507},{upc: 600346751514 },{upc: 600346751514},{upc: 600346751521 },{upc: 600346751521},{upc: 600346751538 },{upc: 600346751538},{upc: 600346751545 },{upc: 600346751545},{upc: 600346751552 },{upc: 600346751552},{upc: 600346751569 },{upc: 600346751569},{upc: 600346751576 },{upc: 600346751576},{upc: 600346751583 },{upc: 600346751583},{upc: 600346751590 },{upc: 600346751590},{upc: 600346751606 },{upc: 600346751606},{upc: 600346751613 },{upc: 600346751613},{upc: 600346751620 },{upc: 600346751620},{upc: 600346751637 },{upc: 600346751637},{upc: 600346751644 },{upc: 600346751644},{upc: 600346751651 },{upc: 600346751651},{upc: 600346751668 },{upc: 600346751668},{upc: 600346751675 },{upc: 600346751675},{upc: 600346751682 },{upc: 600346751682},{upc: 600346751699 },{upc: 600346751699},{upc: 600346751705 },{upc: 600346751705},{upc: 600346751712 },{upc: 600346751712},{upc: 600346751729 },{upc: 600346751729},{upc: 600346751736 },{upc: 600346751736},{upc: 600346752146 },{upc: 600346752146},{upc: 600346752153 },{upc: 600346752153},{upc: 600346752160 },{upc: 600346752160},{upc: 600346752177 },{upc: 600346752177},{upc: 600346752344 },{upc: 600346752344},{upc: 600346752368 },{upc: 600346752368},{upc: 610079185241 },{upc: 610079185609 },{upc: 610079185616 },{upc: 610079185630 },{upc: 610079185913 },{upc: 634415000003 },{upc: 634415000004 },{upc: 634415000005 },{upc: 634415000006 },{upc: 634415000007 },{upc: 634415000009 },{upc: 634415000010 },{upc: 634415000011 },{upc: 634415000012 },{upc: 634415000013 },{upc: 634415000014 },{upc: 634415000016 },{upc: 634415000018 },{upc: 634415000019 },{upc: 634415000020 },{upc: 634415000021 },{upc: 634415000022 },{upc: 634415000023 },{upc: 665516000001 },{upc: 665516000002 },{upc: 665516000005 },{upc: 665516000006 },{upc: 665516000007 },{upc: 665516000008 },{upc: 665516000010 },{upc: 665516000011 },{upc: 665516000012 },{upc: 665516000013 },{upc: 665516000015 },{upc: 665516000017 },{upc: 665516000018 },{upc: 665516000019 },{upc: 665516000020 },{upc: 665516000021 },{upc: 665516000032 },{upc: 665516000043 },{upc: 702795849122 },{upc: 702795849139 },{upc: 702795849146 },{upc: 702795849153 },{upc: 702795849153},{upc: 702795849160 },{upc: 702795849160},{upc: 702795849177 },{upc: 702795849177},{upc: 702795849184 },{upc: 702795849191 },{upc: 702795849207 },{upc: 702795849214 },{upc: 702795849214},{upc: 702795849221 },{upc: 702795849221},{upc: 702795849238 },{upc: 702795849238},{upc: 702795849252 },{upc: 702795849269 },{upc: 702795849276 },{upc: 702795849283 },{upc: 702795849290 },{upc: 702795849306 },{upc: 702795849313 },{upc: 702795849320 },{upc: 702795849320},{upc: 702795849337 },{upc: 702795849344 },{upc: 702795849351 },{upc: 702795849351},{upc: 702795849368 },{upc: 702795849368},{upc: 702795849375 },{upc: 702795849382 },{upc: 702795849399 },{upc: 702795849405 },{upc: 702795849412 },{upc: 702795849429 },{upc: 702795849429},{upc: 702795849436 },{upc: 702795849436},{upc: 702795849443 },{upc: 702795849443},{upc: 702795849450 },{upc: 702795849450},{upc: 702795849467 },{upc: 702795849467},{upc: 702795849474 },{upc: 702795849474},{upc: 702795849481 },{upc: 702795849481},{upc: 702795849498 },{upc: 702795849498},{upc: 702795849504 },{upc: 702795849504},{upc: 702795849511 },{upc: 702795849511},{upc: 702795849528 },{upc: 702795849528},{upc: 702795849535 },{upc: 702795849535},{upc: 702795849542 },{upc: 702795849542},{upc: 702795849559 },{upc: 702795849559},{upc: 702795849566 },{upc: 702795849566},{upc: 702795849573 },{upc: 702795849580 },{upc: 702795849580},{upc: 702795849597 },{upc: 702795849603 },{upc: 702795849603},{upc: 702795849610 },{upc: 702795849610},{upc: 702795849627 },{upc: 702795849627},{upc: 702795849634 },{upc: 702795849634},{upc: 702795849641 },{upc: 702795849641},{upc: 702795849658 },{upc: 702795849665 },{upc: 702795849665},{upc: 702795849672 },{upc: 702795849672},{upc: 702795849689 },{upc: 702795849689},{upc: 702795849696 },{upc: 702795849702 },{upc: 702795849702},{upc: 702795849719 },{upc: 702795849719},{upc: 702795849726 },{upc: 702795849733 },{upc: 702795849733},{upc: 702795849740 },{upc: 702795849757 },{upc: 702795849757},{upc: 702795849764 },{upc: 702795849771 },{upc: 702795849771},{upc: 702795849788 },{upc: 702795849788},{upc: 702795849795 },{upc: 702795849801 },{upc: 702795849801},{upc: 702795849818 },{upc: 702795849825 },{upc: 702795849825},{upc: 702795849832 },{upc: 702795849832},{upc: 702795849849 },{upc: 702795849849},{upc: 702795849856 },{upc: 702795849863 },{upc: 702795849863},{upc: 702795849870 },{upc: 702795849887 },{upc: 702795849894 },{upc: 702795849894},{upc: 702795849900 },{upc: 702795849917 },{upc: 702795849917},{upc: 702795849924 },{upc: 702795849924},{upc: 702795849931 },{upc: 702795849931},{upc: 702795849948 },{upc: 702795849955 },{upc: 702795849962 },{upc: 702795849962},{upc: 702795849979 },{upc: 702795849979},{upc: 702795849986 },{upc: 702795849986},{upc: 702795849993 },{upc: 702795849993},{upc: 702795850005 },{upc: 702795850005},{upc: 702795850012 },{upc: 702795850029 },{upc: 702795850029},{upc: 702795850036 },{upc: 702795850036},{upc: 702795850043 },{upc: 702795850043},{upc: 702795850050 },{upc: 702795850067 },{upc: 702795850067},{upc: 702795850074 },{upc: 702795850074},{upc: 702795850081 },{upc: 702795850098 },{upc: 702795850098},{upc: 702795850104 },{upc: 702795850104},{upc: 702795850111 },{upc: 702795850111},{upc: 702795850128 },{upc: 702795850128},{upc: 702795850135 },{upc: 702795850135},{upc: 702795850142 },{upc: 702795850142},{upc: 702795850159 },{upc: 702795850159},{upc: 702795850166 },{upc: 702795850166},{upc: 702795850173 },{upc: 702795850173},{upc: 702795850180 },{upc: 702795850197 },{upc: 702795850203 },{upc: 702795850210 },{upc: 702795850227 },{upc: 702795850234 },{upc: 702795850241 },{upc: 702795850241},{upc: 702795850258 },{upc: 702795850258},{upc: 702795850265 },{upc: 702795850272 },{upc: 702795850289 },{upc: 702795850296 },{upc: 702795850302 },{upc: 702795850319 },{upc: 702795850326 },{upc: 702795850326},{upc: 702795850333 },{upc: 702795850340 },{upc: 702795850357 },{upc: 702795850364 },{upc: 702795850371 },{upc: 702795850371},{upc: 702795850388 },{upc: 702795850418 },{upc: 702795850418},{upc: 702795850425 },{upc: 702795850425},{upc: 702795850449 },{upc: 702795850456 },{upc: 702795850463 },{upc: 702795850463},{upc: 702795850470 },{upc: 702795850470},{upc: 702795850487 },{upc: 702795850487},{upc: 702795850494 },{upc: 702795850494},{upc: 702795850517 },{upc: 702795850517},{upc: 702795850555 },{upc: 702795850555},{upc: 702795850562 },{upc: 702795850562},{upc: 702795850579 },{upc: 702795850579},{upc: 702795850586 },{upc: 702795850586},{upc: 702795850593 },{upc: 702795850593},{upc: 702795850609 },{upc: 702795850609},{upc: 702795850616 },{upc: 702795850616},{upc: 702795850630 },{upc: 702795850630},{upc: 702795850647 },{upc: 702795850647},{upc: 702795850685 },{upc: 702795850685},{upc: 702795850715 },{upc: 702795850715},{upc: 702795850722 },{upc: 702795850722},{upc: 702795850739 },{upc: 702795850739},{upc: 702795850753 },{upc: 702795850760 },{upc: 702795850777 },{upc: 702795850784 },{upc: 702795850791 },{upc: 702795850814 },{upc: 702795850821 },{upc: 702795850838 },{upc: 702795850845 },{upc: 702795850852 },{upc: 702795850869 },{upc: 702795850890 },{upc: 702795850906 },{upc: 702795850937 },{upc: 702795850951 },{upc: 702795850951},{upc: 702795850975 },{upc: 702795850982 },{upc: 702795850999 },{upc: 702795851002 },{upc: 702795851019 },{upc: 702795851019},{upc: 702795851026 },{upc: 702795851026},{upc: 702795851033 },{upc: 702795851033},{upc: 702795851040 },{upc: 702795851040},{upc: 702795851057 },{upc: 702795851057},{upc: 702795851064 },{upc: 702795851064},{upc: 702795851071 },{upc: 702795851071},{upc: 702795851088 },{upc: 702795851088},{upc: 702795851095 },{upc: 702795851095},{upc: 702795851101 },{upc: 702795851101},{upc: 702795851118 },{upc: 702795851118},{upc: 702795851125 },{upc: 702795851125},{upc: 702795851132 },{upc: 702795851132},{upc: 702795851149 },{upc: 702795851149},{upc: 702795851156 },{upc: 702795851156},{upc: 702795851163 },{upc: 702795851163},{upc: 702795851170 },{upc: 702795851170},{upc: 702795851187 },{upc: 702795851187},{upc: 702795851194 },{upc: 702795851194},{upc: 702795851200 },{upc: 702795851200},{upc: 702795851217 },{upc: 702795851217},{upc: 702795851224 },{upc: 702795851224},{upc: 702795851231 },{upc: 702795851231},{upc: 702795851248 },{upc: 702795851248},{upc: 702795851255 },{upc: 702795851255},{upc: 702795851262 },{upc: 702795851262},{upc: 702795851279 },{upc: 702795851279},{upc: 702795851286 },{upc: 702795851293 },{upc: 702795851309 },{upc: 702795851316 },{upc: 702795851323 },{upc: 702795851330 },{upc: 702795851347 },{upc: 702795851354 },{upc: 702795851361 },{upc: 702795851378 },{upc: 702795851385 },{upc: 702795851392 },{upc: 702795851408 },{upc: 702795851415 },{upc: 702795851415},{upc: 702795851422 },{upc: 702795851439 },{upc: 702795851446 },{upc: 702795851460 },{upc: 702795851460},{upc: 702795851477 },{upc: 702795851484 },{upc: 702795851484},{upc: 702795851491 },{upc: 702795851491},{upc: 702795851507 },{upc: 702795851507},{upc: 702795851514 },{upc: 702795851521 },{upc: 702795851538 },{upc: 702795851545 },{upc: 702795851552 },{upc: 702795851552},{upc: 702795851569 },{upc: 702795851569},{upc: 702795851576 },{upc: 702795851583 },{upc: 702795851590 },{upc: 702795851606 },{upc: 702795851613 },{upc: 702795851620 },{upc: 702795851620},{upc: 702795851637 },{upc: 702795851644 },{upc: 702795851651 },{upc: 702795851651},{upc: 702795851668 },{upc: 702795851675 },{upc: 702795851675},{upc: 702795851682 },{upc: 702795851699 },{upc: 702795851705 },{upc: 702795851712 },{upc: 702795851729 },{upc: 702795851736 },{upc: 702795851750 },{upc: 702795851774 },{upc: 702795851781 },{upc: 702795851798 },{upc: 702795851811 },{upc: 702795851828 },{upc: 702795851835 },{upc: 702795851842 },{upc: 702795851859 },{upc: 702795851866 },{upc: 702795851873 },{upc: 702795851880 },{upc: 702795851897 },{upc: 702795851903 },{upc: 702795851910 },{upc: 702795851910},{upc: 702795851927 },{upc: 702795851927},{upc: 702795851934 },{upc: 702795851934},{upc: 702795851941 },{upc: 702795851941},{upc: 702795851958 },{upc: 702795851958},{upc: 702795851965 },{upc: 702795851965},{upc: 702795851972 },{upc: 702795851972},{upc: 702795851989 },{upc: 702795851989},{upc: 702795851996 },{upc: 702795851996},{upc: 702795852009 },{upc: 702795852009},{upc: 702795852016 },{upc: 702795852016},{upc: 702795852023 },{upc: 702795852023},{upc: 702795852047 },{upc: 702795852047},{upc: 702795852054 },{upc: 702795852054},{upc: 702795852061 },{upc: 702795852061},{upc: 702795852078 },{upc: 702795852078},{upc: 702795852085 },{upc: 702795852085},{upc: 702795852092 },{upc: 702795852092},{upc: 702795852108 },{upc: 702795852108},{upc: 702795852115 },{upc: 702795852115},{upc: 702795852122 },{upc: 702795852122},{upc: 702795852139 },{upc: 702795852139},{upc: 702795852146 },{upc: 702795852146},{upc: 702795852153 },{upc: 702795852153},{upc: 702795852160 },{upc: 702795852160},{upc: 702795852177 },{upc: 702795852177},{upc: 702795852184 },{upc: 702795852184},{upc: 702795852191 },{upc: 702795852207 },{upc: 702795852214 },{upc: 702795852221 },{upc: 702795852238 },{upc: 702795852245 },{upc: 702795852252 },{upc: 702795852269 },{upc: 702795852276 },{upc: 702795852283 },{upc: 702795852290 },{upc: 702795852306 },{upc: 702795852313 },{upc: 702795852320 },{upc: 702795852320},{upc: 702795852337 },{upc: 702795852344 },{upc: 702795852351 },{upc: 702795852368 },{upc: 702795852375 },{upc: 702795852375},{upc: 702795852399 },{upc: 702795852399},{upc: 702795852405 },{upc: 702795852405},{upc: 702795852412 },{upc: 702795852412},{upc: 702795852429 },{upc: 702795852436 },{upc: 702795852443 },{upc: 702795852467 },{upc: 702795852467},{upc: 702795852474 },{upc: 702795852474},{upc: 702795852481 },{upc: 702795852498 },{upc: 702795852504 },{upc: 702795852511 },{upc: 702795852511},{upc: 702795852528 },{upc: 702795852528},{upc: 702795852535 },{upc: 702795852542 },{upc: 702795852559 },{upc: 702795852559},{upc: 702795852566 },{upc: 702795852573 },{upc: 702795852573},{upc: 702795852580 },{upc: 702795852580},{upc: 702795852597 },{upc: 702795852597},{upc: 702795852603 },{upc: 702795852603},{upc: 702795852610 },{upc: 702795852610},{upc: 702795852627 },{upc: 702795852627},{upc: 702795852634 },{upc: 702795852634},{upc: 702795852641 },{upc: 702795852641},{upc: 702795852658 },{upc: 702795852658},{upc: 702795852665 },{upc: 702795852665},{upc: 702795852672 },{upc: 702795852672},{upc: 702795852689 },{upc: 702795852689},{upc: 702795852696 },{upc: 702795852696},{upc: 702795852702 },{upc: 702795852702},{upc: 702795852719 },{upc: 702795852719},{upc: 702795852726 },{upc: 702795852726},{upc: 702795852733 },{upc: 702795852733},{upc: 702795852740 },{upc: 702795852740},{upc: 702795852757 },{upc: 702795852757},{upc: 702795852764 },{upc: 702795852764},{upc: 702795852771 },{upc: 702795852771},{upc: 702795852788 },{upc: 702795852788},{upc: 702795852795 },{upc: 702795852795},{upc: 702795852801 },{upc: 702795852801},{upc: 702795852818 },{upc: 702795852818},{upc: 702795852825 },{upc: 702795852825},{upc: 702795852832 },{upc: 702795852849 },{upc: 702795852849},{upc: 702795852856 },{upc: 702795852856},{upc: 702795852863 },{upc: 702795852863},{upc: 702795852870 },{upc: 702795852870},{upc: 702795852887 },{upc: 702795852887},{upc: 702795852894 },{upc: 702795852894},{upc: 702795852900 },{upc: 702795852900},{upc: 702795852917 },{upc: 702795852917},{upc: 702795852924 },{upc: 702795852924},{upc: 702795852931 },{upc: 702795852931},{upc: 702795852948 },{upc: 702795852948},{upc: 702795852955 },{upc: 702795852955},{upc: 702795852962 },{upc: 702795852962},{upc: 702795852979 },{upc: 702795852979},{upc: 702795852986 },{upc: 702795852986},{upc: 702795853006 },{upc: 702795853006},{upc: 702795853020 },{upc: 702795853020},{upc: 702795853037 },{upc: 702795853037},{upc: 702795853051 },{upc: 702795853051},{upc: 702795853075 },{upc: 702795853075},{upc: 702795853105 },{upc: 702795853105},{upc: 702795853112 },{upc: 702795853112},{upc: 702795853129 },{upc: 702795853129},{upc: 702795853136 },{upc: 702795853136},{upc: 711978582633 },{upc: 711978582633},{upc: 711978582640 },{upc: 711978582640},{upc: 711978582657 },{upc: 711978582657},{upc: 711978582664 },{upc: 711978582664},{upc: 711978582671 },{upc: 711978582671},{upc: 711978582688 },{upc: 711978582688},{upc: 712358968122 },{upc: 799861392262 },{upc: 799861392262},{upc: 799861392279 },{upc: 799861392279},{upc: 799861392286 },{upc: 799861392286},{upc: 799861392293 },{upc: 799861392293},{upc: 799861392309 },{upc: 799861392309},{upc: 799861392323 },{upc: 799861392323},{upc: 799861392330 },{upc: 799861392330},{upc: 799861392347 },{upc: 799861392347},{upc: 799861392354 },{upc: 799861392354},{upc: 799861392361 },{upc: 799861392361},{upc: 799861392378 },{upc: 799861392378},{upc: 799861392392 },{upc: 799861392392},{upc: 799861392415 },{upc: 799861392415},{upc: 799861392422 },{upc: 799861392422},{upc: 799861392439 },{upc: 799861392439},{upc: 799861392446 },{upc: 799861392446},{upc: 799861392453 },{upc: 799861392453},{upc: 799861392460 },{upc: 799861392460},{upc: 799861392477 },{upc: 799861392477},{upc: 799861392484 },{upc: 799861392484},{upc: 799861392491 },{upc: 799861392491},{upc: 799861392507 },{upc: 799861392507},{upc: 799861392514 },{upc: 799861392514},{upc: 799861392521 },{upc: 799861392521},{upc: 799861392538 },{upc: 799861392538},{upc: 799861392545 },{upc: 799861392545},{upc: 799861392552 },{upc: 799861392552},{upc: 799861392569 },{upc: 799861392569},{upc: 799861392576 },{upc: 799861392576},{upc: 799861392583 },{upc: 799861392583},{upc: 799861392590 },{upc: 799861392590},{upc: 799861392606 },{upc: 799861392606},{upc: 799861392613 },{upc: 799861392613},{upc: 799861392637 },{upc: 799861392637},{upc: 799861392644 },{upc: 799861392644},{upc: 799861392651 },{upc: 799861392651},{upc: 799861392668 },{upc: 799861392668},{upc: 799861392675 },{upc: 799861392675},{upc: 799861392682 },{upc: 799861392682},{upc: 799861392699 },{upc: 799861392699},{upc: 799861392705 },{upc: 799861392705},{upc: 799861392712 },{upc: 799861392712},{upc: 799861392729 },{upc: 799861392729},{upc: 799861392736 },{upc: 799861392736},{upc: 799861392743 },{upc: 799861392743},{upc: 799861392750 },{upc: 799861392750},{upc: 799861392767 },{upc: 799861392767},{upc: 799861392774 },{upc: 799861392774},{upc: 799861392781 },{upc: 799861392781},{upc: 799861392798 },{upc: 799861392798},{upc: 799861392804 },{upc: 799861392804},{upc: 799861392811 },{upc: 799861392811},{upc: 799861392828 },{upc: 799861392828},{upc: 799861392842 },{upc: 799861392842},{upc: 799861392866 },{upc: 799861392866},{upc: 799861392873 },{upc: 799861392873},{upc: 799861392880 },{upc: 799861392880},{upc: 799861392903 },{upc: 799861392903},{upc: 799861392910 },{upc: 799861392910},{upc: 799861392927 },{upc: 799861392927},{upc: 799861392934 },{upc: 799861392934},{upc: 799861392941 },{upc: 799861392941},{upc: 799861392958 },{upc: 799861392958},{upc: 799861392965 },{upc: 799861392965},{upc: 799861392972 },{upc: 799861392972},{upc: 799861392989 },{upc: 799861392989},{upc: 799861392996 },{upc: 799861392996},{upc: 799861393771 },{upc: 799861393771},{upc: 799861393788 },{upc: 799861393788},{upc: 799861393795 },{upc: 799861393795},{upc: 799861393801 },{upc: 799861393801},{upc: 799861393818 },{upc: 799861393818},{upc: 799861393825 },{upc: 799861393825},{upc: 799861393832 },{upc: 799861393832},{upc: 799861393849 },{upc: 799861393849},{upc: 799861393856 },{upc: 799861393856},{upc: 799861393863 },{upc: 799861393863},{upc: 799861393870 },{upc: 799861393870},{upc: 799861393887 },{upc: 799861393887},{upc: 799861393894 },{upc: 799861393894},{upc: 799861393900 },{upc: 799861393900},{upc: 799861393917 },{upc: 799861393917},{upc: 799861393924 },{upc: 799861393924},{upc: 799861393931 },{upc: 799861393931},{upc: 799861393955 },{upc: 799861393955},{upc: 799861393962 },{upc: 799861393962},{upc: 799861393979 },{upc: 799861393979},{upc: 799861393986 },{upc: 799861393986},{upc: 799861393993 },{upc: 799861393993},{upc: 799861394006 },{upc: 799861394006},{upc: 799861394013 },{upc: 799861394013},{upc: 799861394020 },{upc: 799861394020},{upc: 799861394037 },{upc: 799861394037},{upc: 799861394044 },{upc: 799861394044},{upc: 799861394051 },{upc: 799861394051},{upc: 799861394068 },{upc: 799861394068},{upc: 799861394075 },{upc: 799861394075},{upc: 799861394082 },{upc: 799861394082},{upc: 799861394099 },{upc: 799861394099},{upc: 799861394105 },{upc: 799861394105},{upc: 799861394112 },{upc: 799861394112},{upc: 799861394136 },{upc: 799861394136},{upc: 799861394143 },{upc: 799861394143},{upc: 799861394150 },{upc: 799861394150},{upc: 799861394174 },{upc: 799861394174},{upc: 799861394181 },{upc: 799861394181},{upc: 799861394198 },{upc: 799861394198},{upc: 799861394211 },{upc: 799861394211},{upc: 799861394228 },{upc: 799861394228},{upc: 799861394235 },{upc: 799861394235},{upc: 799861394259 },{upc: 799861394259},{upc: 799861394266 },{upc: 799861394266},{upc: 799861394273 },{upc: 799861394273},{upc: 799861394280 },{upc: 799861394280},{upc: 799861394303 },{upc: 799861394303},{upc: 799861394310 },{upc: 799861394310},{upc: 799861394334 },{upc: 799861394334},{upc: 799861394341 },{upc: 799861394341},{upc: 799861394365 },{upc: 799861394365},{upc: 799861394372 },{upc: 799861394372},{upc: 799861394389 },{upc: 799861394389},{upc: 799861394396 },{upc: 799861394396},{upc: 799861394419 },{upc: 799861394419},{upc: 799861394426 },{upc: 799861394426},{upc: 799861394433 },{upc: 799861394433},{upc: 799861394440 },{upc: 799861394440},{upc: 799861394471 },{upc: 799861394471},{upc: 799861394501 },{upc: 799861394501},{upc: 799861394525 },{upc: 799861394525},{upc: 799861394563 },{upc: 799861394563},{upc: 799861396444 }
              ];



              $('#check1').keypress(function(e){
                if (e.which == 13){
                  var searchUPC = $(this).val(); 
                  console.log(searchUPC + " serach UPC");  //prints value that has been submitted after keypress
                  //$('#quan1').click().focus();
                  //- //- loop through array with value
                  //- console.log(duplicates[1].duplicateUPC)
                  //- console.log(duplicates.length)
                  for(i=0;i<duplicates.length;i++){
                    //console.log(duplicates[i].duplicateUPC);
                    var showMsg1 = false;

                    if (duplicates[i].duplicateUPC == searchUPC){
                      var test1 = true;
                      console.log("hurray");
                      var upc1 = duplicates[i].upc1;
                      var upc2 = duplicates[i].upc2;
                      $('#dup1').empty();
                      $('#dup2').empty();
                      //- now append the values to the buttons ids= dup1, dup2
                      $('#dup1').append(duplicates[i].upc1ProductID);
                      $('#dup2').append(duplicates[i].upc2ProductID);
                      $("#myModal").modal(); 
                      //- still need to cleak button text on click and move cursor to quantity
                      $("#dup1").click(function () {
                        $("#check1").val(upc1);
                        $('#myModal').modal('hide');
                        $('input[name=quantity1]').click().focus();
                        $('#quan1').focus();
                      });  
                      $("#dup2").click(function () {
                        $("#check1").val(upc2);
                        $('#myModal').modal('hide');
                        $('input[name=quantity1]').click().focus();
                      });
                    }

                     else if ( duplicates[i].upc == searchUPC ){
                            var test2 = true;
                            console.log('here');
                            $('input[name=quantity1]').click().focus();
                          }
                     else if ( i == duplicates.length-1 && test1 != true  && test2 != true ){
                          console.log ('Here for testing');
                          showMsg1 = true;

                          //alert(searchUPC + ' DOES NOT EXIST!');
                          }
                  };  //for statement
                  if (showMsg1) {alert(searchUPC + ' DOES NOT EXIST!')}

                  } //end if
                });  //end keydown
              


              $('#check2').keypress(function(e){

                if (e.which == 13){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){
                  var showMsg2 = false;
                    if (duplicates[i].duplicateUPC == searchUPC){
                      var test1 = true;
                        console.log("hurray");
                        $('#dup3').empty();
                        $('#dup4').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup3').append(duplicates[i].upc1ProductID);
                      $('#dup4').append(duplicates[i].upc2ProductID);
                      $("#myModal2").modal(); 

                      $("#dup3").click(function () {
                        $("#check2").val(upc1);
                        $('#myModal2').modal('hide');
                        $('input[name=quantity2]').click().focus();
                      });  

                      $("#dup4").click(function () {
                        $("#check2").val(upc2);
                        $('#myModal2').modal('hide');
                        $('input[name=quantity2]').click().focus();
                      });   

                    }
                      else if ( duplicates[i].upc == searchUPC ){
                            var test2 = true;
                            console.log('here');
                            $('input[name=quantity2]').click().focus();
                          }
                     else if ( i == duplicates.length-1 && test1 != true  && test2 != true ){
                          console.log ('Here for testing');
                          showMsg2 = true;

                          //alert(searchUPC + ' DOES NOT EXIST!');
                          }
                  };
                  if (showMsg2) {alert(searchUPC + ' DOES NOT EXIST!')}

                  }
                });

                //- checker #3 dup 5-6 modal3
                $('#check3').keydown(function(e){

                if (e.which == 13){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){
                  var showMsg3 = false;
                    if (duplicates[i].duplicateUPC == searchUPC){
                      var test1 = true;
                        console.log("hurray");
                        $('#dup5').empty();
                        $('#dup6').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup5').append(duplicates[i].upc1ProductID);
                      $('#dup6').append(duplicates[i].upc2ProductID);
                      $("#myModal3").modal(); 

                      $("#dup5").click(function () {
                        $("#check3").val(upc1);
                        $('#myModal3').modal('hide');
                        $('input[name=quantity3]').click().focus();
                      });  

                      $("#dup6").click(function () {
                        $("#check3").val(upc2);
                        $('#myModal3').modal('hide');
                        $('input[name=quantity3]').click().focus();
                      });   

                    }
                    else if ( duplicates[i].upc == searchUPC ){
                            var test2 = true;
                            console.log('here');
                            $('input[name=quantity3]').click().focus();
                          }
                     else if ( i == duplicates.length-1 && test1 != true  && test2 != true ){
                          console.log ('Here for testing');
                          showMsg3 = true;

                          //alert(searchUPC + ' DOES NOT EXIST!');
                          }
                  };
                  if (showMsg3) {alert(searchUPC + ' DOES NOT EXIST!')}

                  }
                });

                //- checker #4 dup 7-8 modal4

                $('#check4').keydown(function(e){

                if (e.which == 13){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){
                  var showMsg4 = false;
                    if (duplicates[i].duplicateUPC == searchUPC){
                      var test1 = true;
                        console.log("hurray");
                        $('#dup7').empty();
                        $('#dup8').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup7').append(duplicates[i].upc1ProductID);
                      $('#dup8').append(duplicates[i].upc2ProductID);
                      $("#myModal4").modal(); 

                      $("#dup7").click(function () {
                        $("#check4").val(upc1);
                        $('#myModal4').modal('hide');
                        $('input[name=quantity4]').click().focus();
                      });  

                      $("#dup8").click(function () {
                        $("#check4").val(upc2);
                        $('#myModal4').modal('hide');
                        $('input[name=quantity4]').click().focus();
                      });   

                    }
                    else if ( duplicates[i].upc == searchUPC ){
                            var test2 = true;
                            console.log('here');
                            $('input[name=quantity4]').click().focus();
                          }
                     else if ( i == duplicates.length-1 && test1 != true  && test2 != true ){
                          console.log ('Here for testing');
                          showMsg4 = true;

                          //alert(searchUPC + ' DOES NOT EXIST!');
                          }
                  };
                  if (showMsg4) {alert(searchUPC + ' DOES NOT EXIST!')}

                  }
                });

                //- checker #5 dup 9-10 modal5

                $('#check5').keydown(function(e){

                if (e.which == 13){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){
                  var showMsg5 = false;
                    if (duplicates[i].duplicateUPC == searchUPC){
                      var test1 = true;
                        console.log("hurray");
                        $('#dup9').empty();
                        $('#dup10').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup9').append(duplicates[i].upc1ProductID);
                      $('#dup10').append(duplicates[i].upc2ProductID);
                      $("#myModal5").modal(); 

                      $("#dup9").click(function () {
                        $("#check5").val(upc1);
                        $('#myModal5').modal('hide');
                        $('input[name=quantity5]').click().focus();
                      });  

                      $("#dup10").click(function () {
                        $("#check5").val(upc2);
                        $('#myModal5').modal('hide');
                        $('input[name=quantity5]').click().focus();
                      });   

                    }
                    else if ( duplicates[i].upc == searchUPC ){
                            var test2 = true;
                            console.log('here');
                            $('input[name=quantity5]').click().focus();
                          }
                     else if ( i == duplicates.length-1 && test1 != true  && test2 != true ){
                          console.log ('Here for testing');
                          showMsg5 = true;

                          //alert(searchUPC + ' DOES NOT EXIST!');
                          }
                  };
                  if (showMsg5) {alert(searchUPC + ' DOES NOT EXIST!')}

                  }
                });

                //- checker #6 dup 11-12 modal6
                $('#check6').keydown(function(e){

                if (e.which == 13){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){
                  var showMsg6 = false;
                    if (duplicates[i].duplicateUPC == searchUPC){
                      var test1 = true;
                        console.log("hurray");
                        $('#dup11').empty();
                        $('#dup12').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup11').append(duplicates[i].upc1ProductID);
                      $('#dup12').append(duplicates[i].upc2ProductID);
                      $("#myModal6").modal(); 

                      $("#dup11").click(function () {
                        $("#check6").val(upc1);
                        $('#myModal6').modal('hide');
                        $('input[name=quantity6]').click().focus();
                      });  

                      $("#dup12").click(function () {
                        $("#check6").val(upc2);
                        $('#myModal6').modal('hide');
                        $('input[name=quantity6]').click().focus();
                      });   

                    }
                    else if ( duplicates[i].upc == searchUPC ){
                            var test2 = true;
                            console.log('here');
                            $('input[name=quantity6]').click().focus();
                          }
                     else if ( i == duplicates.length-1 && test1 != true  && test2 != true ){
                          console.log ('Here for testing');
                          showMsg6 = true;

                          //alert(searchUPC + ' DOES NOT EXIST!');
                          }
                  };
                  if (showMsg6) {alert(searchUPC + ' DOES NOT EXIST!')}

                  }
                });

                //- checker #7 dup 13-14 modal7
                $('#check7').keydown(function(e){

                if (e.which == 13){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){
                  var showMsg7 = false;
                    if (duplicates[i].duplicateUPC == searchUPC){
                      var test1 = true;
                        console.log("hurray");
                        $('#dup13').empty();
                        $('#dup14').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup13').append(duplicates[i].upc1ProductID);
                      $('#dup14').append(duplicates[i].upc2ProductID);
                      $("#myModal7").modal(); 

                      $("#dup13").click(function () {
                        $("#check7").val(upc1);
                        $('#myModal7').modal('hide');
                        $('input[name=quantity7]').click().focus();
                      });  

                      $("#dup14").click(function () {
                        $("#check7").val(upc2);
                        $('#myModal7').modal('hide');
                        $('input[name=quantity7]').click().focus();
                      });   

                    }
                    else if ( duplicates[i].upc == searchUPC ){
                            var test2 = true;
                            console.log('here');
                            $('input[name=quantity7]').click().focus();
                          }
                     else if ( i == duplicates.length-1 && test1 != true  && test2 != true ){
                          console.log ('Here for testing');
                          showMsg7 = true;

                          //alert(searchUPC + ' DOES NOT EXIST!');
                          }
                  };
                  if (showMsg7) {alert(searchUPC + ' DOES NOT EXIST!')}

                  }
                });

                //- checker #8 dup 15-16 modal8
                $('#check8').keydown(function(e){

                if (e.which == 13){
                  var searchUPC = $(this).val();   

                  for(i=0;i<duplicates.length;i++){
                  var showMsg8 = false;
                    if (duplicates[i].duplicateUPC == searchUPC){
                      var test1 = true;
                        console.log("hurray");
                        $('#dup15').empty();
                        $('#dup16').empty();

                        var upc1 = duplicates[i].upc1;
                        var upc2 = duplicates[i].upc2;

                      $('#dup15').append(duplicates[i].upc1ProductID);
                      $('#dup16').append(duplicates[i].upc2ProductID);
                      $("#myModal8").modal(); 

                      $("#dup15").click(function () {
                        $("#check8").val(upc1);
                        $('#myModal8').modal('hide');
                        $('input[name=quantity8]').click().focus();
                      });  

                      $("#dup16").click(function () {
                        $("#check8").val(upc2);
                        $('#myModal8').modal('hide');
                        $('input[name=quantity8]').click().focus();
                      });   

                    }
                    else if ( duplicates[i].upc == searchUPC ){
                            var test2 = true;
                            console.log('here');
                            $('input[name=quantity8]').click().focus();
                          }
                     else if ( i == duplicates.length-1 && test1 != true  && test2 != true ){
                          console.log ('Here for testing');
                          showMsg8 = true;

                          //alert(searchUPC + ' DOES NOT EXIST!');
                          }
                  };
                  if (showMsg8) {alert(searchUPC + ' DOES NOT EXIST!')}

                  }
                });

              

      });

    //-     function addRow(tableID) {
    //- //debugger;
    //-  var tableID="tableCreate";
    //-  var table = document.getElementById(tableID);
    //-  var rowCount = table.rows.length;

    //- if(rowCount<7){
   
    //-     var row = table.insertRow(rowCount);
    //-     var cell1 = row.insertCell(0);        
    //-     var cell2 = row.insertCell(1);
    //-     var cell3 = row.insertCell(2);
    //-     var element2 = document.createElement('input');
    //-     element2.type="text";
    //-     cell2.appendChild(element2);

    //-        }
    //-    }

    //-   function removeRow(){
    //-       var tableID="tableCreate";
    //-       var table = document.getElementById(tableID);
    //-       var rowCount = table.rows.length;

    //-       if(rowCount>1){            
    //-           table.deleteRow(-1);
    //-       }
    //-   }
      //- function myCreateFunction() {
      //- var table = document.getElementById("myTable");
      //- var count = table.rows.length;  //how many rows to allow

      //-   if (count < 11) {
      //-     var row = table.insertRow(-1);
      //-     var cell1 = row.insertCell(0);
      //-     var cell2 = row.insertCell(1);
      //-     cell1.style.backgroundColor = '#D0D0D0'
      //-     cell1.innerHTML = '<input class="form-control" type="text" placeholder="UPC" size="10" name="upcArray" style="font-size: 13px;padding:0px; margin:0px; text-align:center; height:50px;" />';
      //-     cell2.innerHTML = '<input class="form-control quan" type="number" placeholder="QUANTITY" size="10" name="quantityArray" style="font-size: 13px;padding:0px; margin:0px; text-align:center; height:50px;" />';
      //-     $('input[name="upcArray"]').focus();
      //-   }
      //- }
      
      //- function myDeleteFunction() {
      //-     document.getElementById("myTable").deleteRow(-1);
      //- }


     







