extends layout

block content

  h1(id="header", style="padding-top: 75px;") Add Old UPC

  h5(style="color: red; padding-bottom:10px;")=successmessage

  form(method="Post", action="/oldUpc", name="OldUpc")
   input.form-control(type="text", placeholder="UPC", size="12", name="upc", style="font-size: 13px;padding:0px; margin:0px;text-align:center; height:50px;", required)
   input.form-control(type="number", placeholder="OLDUPC", size="12", name="oldupc", style="font-size: 13px;padding:0px; margin:0px;text-align:center; height:50px;", required)
   button.btn.invSub(type="submit", style="font-size:25px;") Submit





