extends layout

block content
  
  h1(id="header", style="padding-top: 75px;") Add UPC to Inventory

  h5(style="color: red; padding-bottom:10px;")=successmessage

  //- .submit-content
  //-  form.proposal-form.br(method="Post", action="/location", name="locationAdd")
  //-   h2.sub Add Location
  //-   h4 Scan Location and start adding products
  //-   input(type="text", placeholder="Location", size="40", name="location" )
  //-   input(type="text", placeholder="UPC", size="40", name="barcode" )
  //-   input.quan(type="text", placeholder="Quantity", size="40", name="quantity" )
  //-   button.btn.invSub(type="submit", id="locationSearch") Submit location

  div(style="background:#D0D0D0; width:55%; margin:40px auto; padding-bottom:10px; border-radius: 8px;")
   form(method="Post", action="/addUpc", name="UpcAdd")
    h2(style="padding-top:10px;") Add UPC
    table.table-striped.table-bordered.table-responsive(width="80%", align="center", style="font-size:18px;border-collapse:collapse;" )
     tr
      td
       input.form-control(type="number", placeholder="UPC", size="12", name="upc", style="font-size: 13px;padding:0px; margin:0px;text-align:center; height:50px;", required)
      td
       input.form-control(type="text", placeholder="DESC.RIP.TION", name="description", size="12", style="font-size: 13px;padding:0px; margin:0px;text-align:center; height:50px;", required)
      td
       input.form-control.quan(type="text", placeholder="Location", size="12", name="location" , style="font-size: 13px;padding:0px; margin:0px;text-align:center; height:50px;", required)
      td
       input.form-control.quan(type="number", placeholder="PO", size="12", name="po" , style="font-size: 13px;padding:0px; margin:0px;text-align:center; height:50px;", required)
      td
       input.form-control.quan(type="number", placeholder="Quantity", size="12", name="quantity" , style="font-size: 13px;padding:0px; margin:0px;text-align:center; height:50px;", required)
    button.btn.invSub(type="submit", style="font-size:25px;") Submit

  div(style="width:700px; margin:0 auto")
   h5(style="color:black;") Notes for adding a new UPC:
   h5(style="text-align:left; color:black;") 1.  Description must contain all 3 Periods
   h5(style="text-align:left; color:black;") 2.  The upc must be assigned 
   h5(style="text-align:left; color:black;") 3.  Values must be entered for all fields


  script.
   $(document).ready(function() {
   	$('input[name=upc]').focus();
   	
    $('.quan').keypress(function (e){
         if(e.which == 13){
         $('.invSub').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
        })
   	});